[2016-01-11 22:53] imphil opened #1 "As FOSSi newbie I want to read about possibilities to publish my code."
Requirements
- license choice documentation
- source code hosting documentation

[2016-01-11 22:54] imphil opened #2 "As university member I want to know how to publish existing code."
Requirements:
- license choice documentation
- source code hosting documentation

[2016-01-11 22:55] imphil opened #3 "As company I want to know how to use open source IP cores."
Requirements:
- license usage documentation: what implications do the licenses have?

[2016-01-11 23:02] imphil opened #4 "As a member of the FOSSi community I want to stay informed about the community."
Ideas:
- Show users where to get information from.
- Provide aggregated information from the community.
  - Automated aggregations:
    - Blog planet #5
    - Twitter feed with relevant twitter users
  - Editorial:
    - "Community newsletter": posted in blog or sent out per mail (example: https://news.opensuse.org/)

[2016-01-11 23:13] imphil opened #5 "Create blog planet"
Preview at http://stage.librecores.org/planet

[2016-01-11 23:18] imphil opened #6 "As a developer I want to add an existing project to LibreCores"
Requirements:
- [x] User registration: #8
- [x] User login: #9
- [x] Permissions system
- [x] Project creation: #28

[2016-01-11 23:20] imphil opened #7 "As a developer I want to create a new LibreCores organization"
A LibreCores organization is, similar to GitHub organizations, a collection of projects. They can be maintained by a group of people (a team) and serve as a "namespace" for the contained projects.

Requirements:
- User management #8, #9
- Create organization

[2016-01-11 23:27] imphil opened #8 "Create new user account on LibreCores"
Currently supported:
- GitHub login
- Google login
- site login

Test at http://stage.librecores.org/register/

[2016-01-11 23:28] imphil opened #9 "Log in to LibreCores"
Test at http://stage.librecores.org/login

[2016-01-11 23:30] imphil opened #10 "User profile page"
Show all data from the registration

[2016-01-11 23:34] imphil opened #11 "As a user I want to search for projects by name"

[2016-01-11 23:36] imphil opened #12 "As a project owner I want to change the properties of a project"
Requirements:
* Project settings page
* Project team members editing

[2016-01-24 11:45] wallento opened #14 "Fix favicon.ico"
It's still the old logo

[2016-01-24 11:46] wallento opened #15 "Proposal: Top logo colored"
I think it looks better if the top logo also looks better with full colors. Can you maybe put up the svg of the current logo?

[2016-01-24 16:14] #14 closed, assigned to nobody

[2016-01-27 09:28] wallento opened #18 "Implement dynamic title generation for static content (markdown pages)"
.. is in the title.

[2016-01-29 13:08] #5 closed, assigned to imphil

[2016-01-29 13:21] #15 closed, assigned to nobody

[2016-02-21 14:20] wallento opened #24 "Getting Vagrant up"
Hi,

on Ubuntu 15.04 the current vagrant setup led me to some issues:

 * Don't run from ecryptfs home folder (cannot be NFS exported)
 * The `dev-vagrant.secrets.yml` of ansible does not exist
 * `sudo apt-get update` must be run in the machine before installing ntp
 * There is a permission denied for `/var/www/site/`. Changing from NFS in the `Vagrantfile` solved it.

Now Vagrant completes, but

[2016-02-21 15:27] wallento opened #25 "Getting Vagrant up"
Hi,

on Ubuntu 15.04 the current vagrant setup led me to some issues:

 * Don't run from ecryptfs home folder (cannot be NFS exported)
 * The `dev-vagrant.secrets.yml` of ansible does not exist
 * `sudo apt-get update` must be run in the machine before installing ntp
 * There is a permission denied for `/var/www/site/`. Changing from NFS in the `Vagrantfile` solved it.

Now Vagrant completes, but

[2016-02-21 15:28] #25 closed

[2016-02-22 13:59] wallento commented on #24
Everything works out of the box now

[2016-02-22 13:59] #24 closed

[2016-04-20 19:08] imphil opened #28 "Allow creation of new project"

[2016-04-28 23:35] imphil commented on #28
local vagrant: http://librecores.devel/projects/new

feature set for Milestone 1
* create projects in personal namespace (no organizations, etc.) only
* create projects from git repositories only
* import README and LICENSE from git repository

[2016-05-08 00:26] eliaskousk commented on #8
Hello,

what is the current status of the project? I want to help, initially with testing anything developed thus far, bug issues etc and later on with actual development of features since I have experience with Symfony. I will have limited time on May / June since I'm preparing / will start working for one of FOSSi' GSoC projects, but I love Symfony and hopefully I will be able to find some time

[2016-05-08 21:53] imphil commented on #8
Hi Elias,

great that you want to joint the effort! All code that's available today is pushed, for testing it's best to get a vagrant development environment with the latest code up and running. I'm the main contact person, so let me know if you find anything. If you have time to take on any of the open issues, that's great as well! It's probably easiest to coordinate with me first quickly to make

[2016-08-18 21:17] imphil opened #34 "Support SSL"
Include automated cert installation from letsencrypt in ansible

[2016-08-18 21:35] olofk commented on #28
Just imported a project and everything seems to work fine.
It picked up both my README.md and LICENSE files.
Adding data to the project fields updates the data sheet

[2016-08-18 21:38] olofk commented on #12
Changing properties of my newly imported project works fine.
Changing properties of the mor1kx repo (with the url changed to p instead of projects), gives me a 403 as I'm not the owner.

Code for team members doesn't seem to be implemented, so I can't test this yet

[2016-08-18 21:39] olofk commented on #9
github login works fine AFAICT. Haven't tested the other options

[2016-08-18 21:41] olofk commented on #8
Not sure what's different from this and #9, but creating an account (via github) and login/logout works fine

[2016-08-18 21:55] #8 closed

[2016-08-18 21:55] #28 closed

[2016-08-18 21:55] #9 closed

[2016-08-18 21:56] #12 closed

[2016-09-23 10:33] oleg-nenashev opened #36 "Add logo to the GitHub org"

[2016-09-23 10:34] oleg-nenashev opened #37 "GitHub: Add librecores-ci-bot as read-only team member"

[2016-09-23 10:37] oleg-nenashev opened #38 "GitHub: Setup teams"
We need some common teams on GitHub in order to streamline the work.

My proposals (based on what We have in Jenkins project):
* admins - People with admin access
* contributors - People who have write access to the org
* copy-editors - For reviewing the content changes (e.g. allows CCing people in PRs)
* bots - Automation bots with read-only access

[2016-09-23 10:50] oleg-nenashev opened #39 "Document change development/staging process in CONTRIBUTING.md"
As a newcomer developer, I would need to get more info about the process. E.g.
* Against which branch should I create pull requests?
* How do the changes get promoted to production? Is it a manual or automatic flow?
* How does CI work? (It does not work right now - https://github.com/librecores/librecores-ci/issues/17 )

[2016-09-23 11:00] wallento commented on #34
I have sent you the certificate as PM.

[2016-09-23 11:00] wallento commented on #36
Thanks, done

[2016-09-23 11:00] #36 closed

[2016-09-23 11:03] imphil commented on #34
? The cert will be auto-generated (and renewed) during deployment, so should be only changes in Ansible.

[2016-09-23 11:12] oleg-nenashev commented on #34
@imphil I doubt you will be able to generate a verified certificate in such way. Browsers still do not like letsencrypt IIRC.

[2016-09-23 11:14] wallento commented on #34
you mean for the development environments, imphil, right? For the production and stage we have this startssl cert I sent you

[2016-09-23 11:25] imphil commented on #34
all (TM) browsers accept letsencrypt, as it's cross-signed by a built-in CA. so no need to use the arcane startssl web interface any more :)

[2016-09-23 11:42] wallento opened #40 ""Browse projects""
List projects alphabetically, filter by tags.

I like the idea of selected projects, maybe as a special tag-filter that is then advertised on a special timeline on the left or so.

[2016-09-23 12:04] wallento opened #41 "Add classification system for projects"
Projects should be added tags.

I think the tags should be moderated, meaning the user can choose from pre-defined tags. Adding a new tag does not add this to the global index before a "moderator" added it (to avoid thrashing of the index).

[2016-09-23 12:06] wallento commented on #41
We probably should have categorized tags, by which I mean that tags are grouped (by color or "<category>:<tag>"). Such categories are for example `ISA`, `Language`, etc.

[2016-09-26 12:06] oleg-nenashev opened #42 "Create LibreCores organization on DockerHub"
As a follow-up to discussion with @wallento, we wiould like to setup a Docker Hub organization, which would store Docker images we use for automation of Librecores and EDA tools we use.

TODO:
- [x] Setup organization
- [ ] Move some Docker images we use to this organization
- [x] Add @wallento and maybe others as owners
- [ ] Add documentation to the internal Wiki

[2016-09-26 12:10] oleg-nenashev opened #43 "Infra: Create Gravatar account for librecores@fossi-foundation.org"
Several services like DockerHub use Gravatar to display logos.
It would be great to setup Gravatar account for librecores@fossi-foundation.org, so we will be able to retrieve logo from it.

[2016-09-26 12:10] oleg-nenashev commented on #43
Nice2have for #42

[2016-09-26 12:10] oleg-nenashev commented on #43
CC @wallento

[2016-09-26 12:11] oleg-nenashev commented on #42
Organization is here: https://hub.docker.com/u/librecores

[2016-09-26 12:13] oleg-nenashev opened #44 "Infra: Decouple Backend issue tracker and Documentation to a separate repo"
Now we use librecores-web, but it's a bit confusing since it has it's own branching system

[2016-09-26 12:14] oleg-nenashev commented on #42
@wallento Could you let me know your DockerHub ID?

[2016-09-26 12:42] wallento commented on #42
Thanks!

My DockerHub ID is wallento

[2016-09-26 12:44] oleg-nenashev commented on #42
@wallento added you. @olofk @imphil please ping me if you need an access as well

[2016-09-26 14:32] imphil commented on #42
oleg, please add me as well. "imphil" is also used by me on docker hub

[2016-09-26 16:32] oleg-nenashev commented on #42
done

[2016-09-26 16:34] oleg-nenashev commented on #38
Assigned it to @imphil

[2016-09-26 16:41] wallento commented on #43
Done, uploaded the librecores logo there

[2016-09-26 16:41] #43 closed

[2016-09-26 17:49] #39 closed

[2016-09-27 22:21] oleg-nenashev commented on #44
Created https://github.com/librecores/librecores-backend

[2016-09-27 22:21] #44 closed

[2016-09-27 22:22] oleg-nenashev commented on #42
3 admins are enough for the kick-off. Marking it as "done"

[2016-09-27 22:22] #42 closed

[2016-09-27 22:33] oleg-nenashev commented on #38
Done

[2016-09-27 22:33] #38 closed

[2016-09-27 22:35] oleg-nenashev commented on #37
Done. @librecores-ci-bot has joined the https://github.com/orgs/librecores/teams/automation-bots team

[2016-09-29 07:18] #37 closed

[2016-09-29 07:19] oleg-nenashev opened #45 "ORCONF: Demo integration between LibreCores Web and LibreCores CI"
Just a tracking issue

[2016-09-29 07:27] oleg-nenashev opened #46 "ORCONF: Provide several sample projects"
I would like to get several sample projects posted on LibreCores staging. It would be useful for demos of LibreCores CI integration in #45.

Desired projects:
- [ ] wb_sdram_ctrl
- [ ] sockit
- [ ] wb_bfm
- [ ] mor1kx
- [ ] OPTIMSoC (a couple of configurations, for which we need a CI)

[2016-09-29 07:45] olofk commented on #46
sockit might be a bit fragile. While it's good to have proper CI for that, I would recommend starting with de0_nano, which is probably the best supported board

[2016-09-29 10:03] imphil commented on #34
fixed in dc81022e97d7df4b3770a73657dfce5fe44b6085, deployed to staging already.
https://stage.librecores.org

We're using an intermediate security level to support older browsers (Firefox 1, Chrome 1, IE 7, Opera 5, Safari 1, Windows XP IE8, Android 2.3, Java 7) as they can most likely be found in industry.

SSL test results: https://www.ssllabs.com/ssltest/analyze.html?d=stage.librecores.org&late

[2016-09-29 10:03] #34 closed

[2016-09-29 10:04] imphil commented on #11
Fixed in be8d15557a2c6f9b417ace2524dfae4d0cf9b799

[2016-09-29 10:04] #11 closed

[2016-09-29 10:05] #6 closed

[2016-09-29 10:13] imphil opened #47 "Use proper search engine"
Currently we search projects directly in MySQL. For a better search experience, we should move to Apache Solr or similar solutions, which then enable good result ranking, faceted search, etc.

Example implementation in Symfony: Packagist (https://github.com/composer/packagist)

[2016-09-29 10:30] imphil commented on #40
Listing all projects is probably going to be too much and not really useful for the users.

What we could have:
- moderated content: project of the week, tag of the week, etc.
- the search bar
- automatically selected projects:
  - most active projects/users
  - recently updated projects

Other such sites for inspiration:
- https://addons.mozilla.org/en-US/firefox/
- https://play.google.com/store

[2016-09-29 13:53] oleg-nenashev commented on #46
Makes sense.
Requires old quartus images BTW

[2016-10-02 12:35] oleg-nenashev opened #48 "Add support of adding projects from organization"
As a GitHub user, I want to add project hosted on the external organization (e.g. openrisc/mor1kx). Now I cannot do it from the web interface.

Option 1:
- Add a plain-text field for user/organization name

Option 2:
- Poll user _PUBLIC_ organization membership
- Provide list of organizations
- For the selected organization retrieved list of repositories, to which the user has write access (should

[2016-10-04 20:27] imphil opened #49 "Add cronjob to renew letsencrypt script"
Otherwise the cert will expire

[2016-10-04 22:14] imphil opened #50 "Validate project name to be unique"

[2016-10-04 22:15] imphil opened #51 "Disallow certain user and project names"
To avoid naming clashes in the URL, prevent all user/org names that we use as regular URL: "unassigned", "new". others?

[2016-10-05 06:59] olofk commented on #51
Is the plan still to use full VLNV naming, with Vendor and Library optionally being left empty?

[2016-10-05 07:42] imphil commented on #51
@olofk it's independent of this issue, but that's my current throught:
Currently, librecores lists "projects". Inside these projects (i.e. as another subhierarchy), there can be cores and systems as fusesoc knows them. The plan is to scan the git repo for core and system files, and based on that automatically list cores/systems as part of a project. To avoid name clashes, as discussed earlier, we'

[2016-10-06 08:39] imphil opened #52 "Implement error pages"
We need properly styled error pages (404, 500, etc.)

[2016-10-06 16:12] #51 closed

[2016-10-06 16:13] imphil commented on #50
fixed in f47a1ee9a83577afb0509056fbe78f8674b8ab6e

[2016-10-06 16:13] #50 closed

[2016-10-06 16:14] imphil commented on #48
I'm not sure I understand this issue correctly. Currently, we don't use the Github APIs but projects can be created using an arbitrary https git URL. So this URL could reference a git repository inside an organization or inside an user namespace.

[2016-10-06 16:29] imphil opened #53 "Deploy master to production"

[2016-10-06 16:29] imphil opened #54 "Add permanent storage to production EC2 instance"

[2016-10-06 17:09] oleg-nenashev commented on #54
Imho belongs to https://github.com/librecores/librecores-backend (if we agree to use this repo for the general-purpose infra stuff)

[2016-10-07 16:00] imphil opened #55 "Fixtures: Switch from SQL dump to proper fixtures"
During development, we want to use test-data inside the database which allows us to quickly test features. Fixtures insert this kind of data into the DB through the actual objects (entities) which are used in our business layer.

Right now, we "cheat" by inserting a SQL-dump directly into the DB (this one: https://github.com/librecores/librecores-web/blob/master/sql/dev_fixtures_site.sql). This ap

[2016-10-07 21:19] imphil commented on #54
fixed in 11b60120e9a6e2f8a89c36a661cb1febb374b6aa

[2016-10-07 21:19] #54 closed

[2016-10-08 13:02] imphil opened #56 "Deployment script: fresh production deployment should setup db if not already there"

[2016-10-09 11:50] #53 closed

[2016-10-09 11:52] imphil opened #57 "Make site mobile-friendly"
Currently especially the homepage (https://librecores.org/) doesn't look good on mobile devices.
1. Figure out how we can reduce the content to be mobile-friendly. Especially the pictures (engage/code/share/reuse/learn) need to be reduced in size or left out completely.
2. Modify the HTML/CSS code using the Bootstrap provided CSS classes (http://getbootstrap.com/css/) to realize the idea.
3. Creat

[2016-10-09 11:54] imphil opened #58 "Terms of Service"
Look into the requirement of having proper terms of service.

Andrew Back had some ideas, Wordpress might have CC-licenses TOS that we can reuse.

[2016-10-09 11:55] imphil opened #59 "Cookie policy settings"
Check if/what we need in terms of cookie policy notifications to our users.

[2016-10-09 12:00] imphil opened #60 "Pick traffic analysis solution"
currently we use google analytics, but we should look into more privacy-preserving options.

Possible criteria:
- works with/without client-side (to also count users with adblock/tracking protection enabled)
- integration with custom "conversion goals" (interaction with the site, downloads, etc.)

Possible solutions:
- Piwik
- server-only solutions (follow-ups to the discontinued modlogan?)
- othe

[2016-10-09 12:10] imphil opened #61 "Add documentation how to add an RSS feed to planet"

[2016-10-09 12:26] imphil opened #62 ""IP Cores" Support"
Currently the hierarchy in librecores ends with "projects", which can be HW or SW or combined works.

We should introduce "IP Cores" (or named similarly) as a subhierarchy below a project (1:n).

Design idea:
- 1 directory == 1 core

Discovery options:
- automatically parse fusesoc core files (i.e. directory of *.core/*.system) file is "core directory"
- let users manually cores by specifying the

[2016-10-09 12:27] imphil opened #63 "Tell people how to contribute on the site itself"
mention mailing list, github, etc.

[2016-10-09 12:29] imphil opened #64 "Load testing of various parts of the site"
Do initial load testing of the different parts of the site (homepage, search, project listing) to get an initial idea about our load handling capacity.

[2016-10-09 17:51] imphil opened #65 "Add support for user and organization pictures/icons"
Every user/org should be associated with a picture.

Give users the option:
- pick existing one from gravatar (default)
- upload an individual image

[2016-10-09 17:58] oleg-nenashev commented on #63
And maybe a common "Fork me on GitHub" badge. But "Fork" was always vague in this statement IMHO

[2016-10-10 08:15] imphil opened #66 "Enable compression in nginx"
Report from google pagespeed:

Compressing resources with gzip or deflate can reduce the number of bytes sent over the network.
Enable compression for the following resources to reduce their transfer size by 325.5KiB (74% reduction).

[code]

[2016-10-10 08:19] imphil opened #67 "Consider using ngx_pagespeed"
We should measure the additional server load, but it could be a quick way to get a collection improvements on page speed.

[2016-10-10 09:03] imphil opened #68 "Support relative URLs in GitHub README/LICENSE files"
GH recommends using relative URLs inside markdown files, i.e. for embedded images or links to other markdown files. We should make these relative URLs absolute when importing markdown files from GH.
1. detect if we import content from GH
2. Rewrite URLs to github static URLs

[2016-10-11 08:51] imphil opened #69 "Create project listing page"
While probably not very useful to the general public, we should add a site that lists _all_ available projects on LibreCores to make sure Google & Co. are able to index them all.

[2016-10-11 12:19] imphil opened #70 "Auto-fill license field from license text"
Match the license text to a set of well-known licenses.

Look into using SPDX and its associated match rules. SPDX is not complete for foss projects (OHDL, Solderpad are missing for example), can this be extended?

[2016-10-11 12:20] imphil commented on #70
Python implementation: https://pypi.python.org/pypi/spdx-lookup

[2016-10-11 12:22] imphil commented on #70
https://packagist.org/packages/composer/spdx-licenses has no matching implemented it seems

[2016-10-11 12:30] imphil commented on #70
Maybe we can contribute that? Like `$licenses.guess($LICENSES_TEXT)`

[2016-10-11 12:46] wallento commented on #70
Ups, @imphil was still logged on from the demo.

Maybe we can contribute that? Like `$licenses.guess($LICENSES_TEXT)`

[2016-10-11 14:37] imphil commented on #70
Yes, porting the code from the python module should work. The SPEX rules to match a license text (https://spdx.org/spdx-license-list/matching-guidelines) are clear, but prose unfortunately.

[2016-10-12 08:52] wallento commented on #41
I assigned this to myself as it is not on the highest priority and can help me learn the Synfony framework

[2016-10-12 14:56] eliaskousk commented on #48
As I understood from our meeting @ orconf we won't use the Github API yet. So I will continue with our own organizations implementation and later on if we need to use the Github API to retrieve the Github organizations of the user we shall re-visit this discussion, correct?

[2016-10-12 14:58] imphil commented on #48
@eliaskousk yes, this bug is essentially importing data using the GH API. This is something we don't support for now. However, let's leave this bug open and revisit when it's time to do so.

[2016-10-12 14:58] eliaskousk commented on #55
I can take care of this... rather boring task! :P

[2016-10-12 15:10] eliaskousk commented on #65
For Gravatar the [Gravatar Bundle](https://github.com/henrikbjorn/GravatarBundle) seems good.

For manual uploading we can use the [Vich Uploader Bundle](https://github.com/dustin10/VichUploaderBundle).

It has a somewhat complex configuration that requires a separate fiesystem / storage abstraction e.g [Gaufrette](https://github.com/KnpLabs/KnpGaufretteBundle) (it supports AWS) but I've used it i

[2016-10-12 15:17] eliaskousk commented on #62
I believe that repos that have multiple core implementation might not have them in completely separate directories and might use "common" directories for sources that are used in multiple / all cores.

Your questions are valid and I don't have the answers or a generic solution to this though. Maybe we should find first some example multi-core repos and see what directories they contain?

If I had

[2016-10-12 15:21] eliaskousk commented on #60
Besides Google analytics I've only heard the one you mentioned (Piwik). If it supports the criteria you mentioned maybe we should just start with that or even keep Google analytics for now since imho this is not so urgent atm.

[2016-10-12 15:31] eliaskousk commented on #57
I think the menu is the main reason for the page looking bad on mobile, but then again I'm no frontend expert! Aren't we using bootstrap already? Maybe its easy to make the menu more compatible with bootstrap.

I agree that we should make it reasonably usable on mobile but unless a pure frontend developer joins and helps us with this we won't be able to make a huge improvement (pessimist mode: on!

[2016-10-12 15:33] eliaskousk commented on #7
Just a note here that I'm working on this!

[2016-10-12 15:36] eliaskousk commented on #10
I have a lot of existing boilerplate code on how to edit user's profile, view details, change password etc using the FOSUserBundle that is also used here at LibreCores. So I can work on this after I'm done with the organizations part, unless of-course it is already done by then!

[2016-10-12 15:37] imphil commented on #7
just assign the ticket to yourself and add it to the wip column in the "Projects" view.

[2016-10-14 14:56] cliffordwolf opened #72 "user profile page: projects should probably be links"
A user profile page (such as https://www.librecores.org/p/cliffordwolf) lists the projects for this user. However, the projects are not links. I guess they should be links to the respective project pages.

Also: The "Projects" `<h2>` header looks a bit awkward imo. Simply removing the element improves imo the look of the page drastically. (But this is just a personal style preference, of course. F

[2016-10-23 21:36] imphil commented on #7
@eliaskousk I pushed a PR with an updated routing scheme which better fits the organizations, find it here: https://github.com/librecores/librecores-web/pull/74

Please have a look. We especially should have a closer look at the join/remove/etc. actions and see which ones we can make part of the settings page.

Elias, how far did you get with the revised organization member stuff? I'd like to get

[2016-10-23 22:37] berndca commented on #62
I believe that there are valid reasons to have more than one IP in a repository. Multiple cores might share verification infrastructure or might be related in some way. I would always prefer to extract this type of information from the repository data since manual entries tend to get out of date. This information could perhaps be captured in an IPXACT catalog file in the root directory of the repo

[2016-10-23 22:59] Paebbels commented on #62
As @eliaskousk wrote, we have a "common" directories for shared code (e.g. VHDL packages). Moreover, a directory represents a VHDL sub-namespace, so it contains multiple IP cores. Our IP cores can reference other IP cores which need to be integrated. E.g. a FIFO, or cache depends on our RAM abstraction layer OCRAM.

I don't believe that IP-XACT can describe our IP cores. So currently we won't prov

[2016-10-23 23:32] berndca commented on #62
Creating an IPXACT catalog for PoC should be very straightforward. Have you had a chance to look at the standard? Do you have any specific concerns?

There are probably lots of people with valid criticism towards the IPXACT standard. However I would always prefer a widely used standard to a proprietary solution. Especially when dealing with a large number of users from different backgrounds and or

[2016-10-24 01:27] Paebbels commented on #62
@berndca I tried some tools to generate an IP-XACT file for one of PoC's simplest IP cores, but the tools couldn't handle it. I'm not worried about performance of XML; I' worried about supporting a standard that uses bad XML design. Maybe we should create a IP-XACT library for Python? (I know @olofk's ipyxact library, but this is no IP-XACT DOM implementation).

The standard is very long. Is there

[2016-10-24 01:40] berndca commented on #62
IPXACT is not an all or nothing proposition. You can use as much or as little as you NEED. For the purpose of IP discovery in your library I'm proposing to create a catalog. You can find the outline of the catalog schema at the beginning of chapter 11, pg. 171 of the spec. For each block in you library you create one catalog item consisting of vendor: VLSI-EDA, library: PoC, name: <name of the IP>

[2016-10-24 01:43] Paebbels opened #75 "Extract tag line text from GitHub."
Hello,

I tried to register my first project at libreCores. LC already extracts many data items, but it doesn't load the short description from GitHub.

Manually changed settings are not stored or displayed after a change.

[2016-10-24 01:46] Paebbels commented on #62
I'll look into that chapter.

[2016-10-24 07:44] olofk commented on #62
I agree that we can't put restrictions on one project or directory per repo as has been shown by others already.

I also think that many pieces of HDL code is a very bad fit for IP-XACT. I've actually started working on an article about this, that I've been meaning to publish soon. As @berndca says however, you can use as little as you need. In FuseSoC I only use the FileSets part, and I recently

[2016-10-24 11:53] berndca commented on #62
I have created an [example](https://gist.github.com/berndca/8a9a95eb6a20a9b07e2c9a44045ec810) for a sample catalog with two blocks from the PoC library.

https://gist.github.com/berndca/8a9a95eb6a20a9b07e2c9a44045ec810

[2016-10-25 17:26] oleg-nenashev commented on #65
Why would we actually need it? I'm pretty sure Gravatar is enough for MVP, and actually dialing with image requirements is something taking much time without so much outcome.

[2016-10-25 17:27] imphil commented on #65
@oleg-nenashev mostly for organizations, which does not have an email address assigned.

[2016-10-26 15:14] eliaskousk commented on #7
@imphil I quickly saw the new PR changes and I like them. I'll see them again in more detail and notify you if I spot something.

As for the org changes I am a bit behind but will resume at the end of the week and will try to have stuff to show and discuss sometime next week. I agree we should take a closer look at those org actions and decide where to put them for easier access by the users.

[2016-10-30 20:09] eliaskousk commented on #7
@imphil Please see my comments on #74

[2016-11-30 18:56] imphil opened #76 "Mention CERN OHL on license page"
Request which came up in private discussion:

discuss on librecores how CERN OHL relates the digital hardware design licenses

[2016-11-30 22:20] kasbah opened #77 "Login with GitHub and Google did not work for me"
Just tried to register/login with GitHub and then Google but it doesn't work. This is with Firefox 49 on Ubuntu and all sorts of extensions enabled (e.g. Privacy Badger and uBlock Origin).

EDIT: Just tried in new Firefox profile without extensions and also in Chrome and Chromium without success. The page always re-directs back to the login form. I don't see any errors or messages on the Javascrip

[2016-12-07 20:36] imphil commented on #77
Hi and sorry it took so long, I've identified an issue with the server installation that should be fixed now. I'm able to login again. Could you please try again and let me know if the issue is resolved for you?

[2016-12-07 21:44] #49 closed

[2016-12-07 22:08] kasbah commented on #77
Works for me with GitHub! Thanks!

[2016-12-07 22:08] #77 closed

[2016-12-07 22:49] imphil opened #78 "Delete temporary directory after importing a git repository"
in `UpdateProjectInformation` we create a temporary directory, but don't delete it any more.

[2016-12-14 14:17] eliaskousk commented on #7
It seems that I left this a bit (ok a lot!) behind on November. I'll try my best to have progress during the next couple of weeks - before our next meeting (around 27/12).

To accelerate the implementation and not redo work we should finalize the specs of what the organization actions are and what each one should do exactly. I'll prepare by the end of the week a short description of the current ac

[2016-12-14 16:26] oleg-nenashev opened #79 "Add Librecores CI page"
@wallento has described his vision here: https://docs.google.com/presentation/d/1smzA2qZ3SnjMPqHPKMg8Xa9ZLOV_H6Zi4LOh81KK2_0/edit#slide=id.p

[2016-12-15 10:09] asb opened #80 "Show project activity metrics"
I thought the Visual Studio Code plugin index had a [nice idea](https://marketplace.visualstudio.com/items?itemName=vscodevim.vim). For projects on GitHub, list activity metrics, e.g.:
9 Pull Requests
97 Open Issues
Last commit: 4 days ago

[2016-12-15 10:57] oleg-nenashev commented on #80
It would be very useful. The only problem is that polling much things from GitHub may finally lead to the violation of the REST API limit. I see two possible ways:
* Cache the data in LibreCores and update on the daily basis
* Just let Web Browsers retrieve the data on their own (requires some JavaScript coding)

On the other hand, it can be easily done just by embedding GitHub shields (also safe

[2016-12-15 11:47] asb commented on #80
And you could just have a server-side process retrieve the .svg from shields.io and extract the text for formatting in your preferred form. REST API problem solved, right? :)

[2016-12-15 11:48] asb commented on #80
Actually they support .json output too (https://img.shields.io/github/issues-closed/badges/shields.json).

[2016-12-15 13:30] berndca commented on #80
The [github REST API rate limit for authenticated requests](https://developer.github.com/v3/#rate-limiting) is 5000 requests per hour.

I had no problems using the API to extract repo info about  [open source HDL repos](https://berndca.github.io/discover_fossi/).  @oleg-nenashev  Is there a specific issue you are referring to?

I would create an AWS lamdba CRON job to extract all required info to

[2016-12-15 14:00] eliaskousk opened #81 "Username validation bug"
I identified a bug on the username validator and fixed it on master so please check it and push it to production when you see this.  0104e150a9d18b4542907eccb94789d8797f2e1b

I also removed a redundant uniqueness check for usernames since it is already handled by the user bundle. 1132e3f1cbbda624a62a78693f05487371d685f0

On a sidenote, is there a recommended way to notify the need for a push to pr

[2016-12-16 13:03] eliaskousk commented on #81
I saw that staging or production not updated since Orconf so this also answers my above question. I suppose that we will push there only after a substantial amount of work is done and that work is reviewed and tested locally. (until now I thought Philipp pushed regularly there).

[2016-12-16 13:03] #81 closed

[2016-12-18 16:58] oleg-nenashev commented on #80
@berndca

Well, we have issues with the GitHub API limit for authenticated users. E.g. in Jenkins project there were a couple of recent Infra issues due to it.

[2016-12-18 17:09] oleg-nenashev commented on #80
Created #83

[2016-12-18 23:11] imphil commented on #81
@eliaskousk thanks for the patch. I'll waited pushing out the changes until we have a sufficiently working org feature, currently this in a bit of a half-working state that I don't want to be published just yet.

[2016-12-18 23:42] eliaskousk commented on #80
Updated #83

[2016-12-19 14:30] eliaskousk commented on #80
We can also use the [Github API client library](https://github.com/KnpLabs/php-github-api) which seems great for our purposes and should be very easy to use inside our project.***

Please see their [doc](https://github.com/KnpLabs/php-github-api/tree/1.7/doc) folder for a lot of examples on various data that we could get from each hosted project. We can identify a set of things that are useful for

[2016-12-19 14:35] imphil commented on #80
I'm currently rather busy, but just a quick drive-by until I have time to look closer: the design goal was to stay as much as we can with data we can get from a git repo itself, since we want to support other hosting sites than github as well. This was mentioned a requirement from very early on, due to the fact that it seems some valuable people in the HW community want to use their own hosting.

[2016-12-19 14:42] eliaskousk commented on #80
@imphil I agree and this I think is still our design goal. Maybe identifying things that are common to all hosting providers (most of what we already have) and have separate sections applicable to each different provider. What we discuss here is actually the Github section of the project view of LibreCores.

[2016-12-19 15:19] berndca commented on #80
Thats very interesting. Do you have the code for the UpdateProject cron job in your github repo? Is it just running

```git pull origin master```

If you have access to the actual repo you can extract key stats from the repo meta data.

The only downside is that I’m not sure how well this scales and of course this is not something you want to run on your production web server.

A far more scalable

[2016-12-23 23:18] #78 closed

[2016-12-23 23:22] #79 closed

[2016-12-23 23:55] imphil opened #85 "Better handle huge repositories in UpdateProjectInformation"
Example: https://github.com/krevanth/ZAP is more than 300 MB and cannot be cloned in 3 minutes. We probably should do a couple of things for such repos:

- do a flat clone to get the README and LICENSE file.
- re-use a clone made once with much higher timeout (also look into Process::setIdleTimeout()) and update that periodically to get the latest repo statistics.
- other clone options to get only

[2016-12-24 00:00] imphil opened #86 "Markdown Parser: Synchronize with GH"
Our MarkDown parser seems to be slightly different than the GitHub one.

See this project:
https://github.com/kactus2/kactus2dev/blob/master/README.md
https://www.librecores.org/epekkar/kactus2

[2016-12-24 15:16] oleg-nenashev commented on #85
Maybe there is no need to clone repositories at all (in the case of projects on GitHub). It is possible to use GitHub API to get file listings and then to download files directly

[2017-01-05 00:08] imphil commented on #7
@eliaskousk what is the status here? Is there any specific question you have for me, or input I forgot about?

[2017-01-09 15:29] eliaskousk commented on #7
@imphil Sorry for the delayed answer, I have pushed most of the functionality needed for organizations. You can see it in my [organizations branch of my fork](https://github.com/eliaskousk/librecores-web/tree/organizations).

I followed your suggestion on making the organization actions (join, leave etc) part of the settings, they all now have a settings prefix. I also made sure most of the routes

[2017-01-10 09:57] eliaskousk commented on #7
Please use the new [org.polish](https://github.com/eliaskousk/librecores-web/tree/org.polish) branch on my fork, which contains the latest master changes, if you want to check out the work.

[2017-01-10 12:35] imphil commented on #7
Thanks Elias for the great work. I've had a look at it and it looks like we're almost there, but fully reviewing would be easier in a PR. So please open one if you're ready for it.

At first glance, a couple things I saw:

- It would be great if we support multiple "owners" of an organization. The reason is that with organizations we can avoid "dead maintainer" issues, i.e. if one person is not av

[2017-01-10 12:36] imphil commented on #7
On the frontend: I had a look at it and it's actually not much, I can take care of that. It will be faster for me than spec'ing out what we exactly want and handing that out to externals.

[2017-01-10 15:26] wallento commented on #7
Sounds good, we can fast iterate over that I suppose, thanks to you both!

[2017-01-10 15:31] wallento opened #90 "Moderated/"Purgatory" projects"
To increase the number of projects on librecores I propose to have the ability to add projects under an organization ("librecores"?) that automatically have a property "unclaimed". All members of the org can add projects and then choose to manually communicate with the owner of the project to convince him to claim and maintain the project.

What do you think?

[2017-01-10 15:32] wallento opened #91 "Recently added and recent activity on main site"
We should have some dynamic, up-to-date content on the main site, for example recently added librecores and (user-specific) recent activity.

[2017-01-10 16:08] imphil commented on #90
This functionality is already there, the projects are in the "unassigned" namespace. Such projects display an "this project is currently unclaimed" header at top. We, however, don't yet have
- UI to add projects in this namespace
- a way to transfer ownership (other than modifying the database directly)

[2017-01-10 16:12] wallento commented on #90
Excellent, I missed this.

Maybe we can workaround both by editing the database:

- Add a project as user, then edit database
- Send a mail and mark in database, then edit

Anyhow, UI is of course a great thing :)

[2017-01-11 07:40] olofk commented on #91
How about the twitter feed? Slightly related, I think we could also hook up the twitter account to send a tweet when there's a new RSS entry in the blog aggregator

[2017-01-11 10:43] eliaskousk commented on #7
I agree with the multiple owners and I'm currently looking at it. The easiest way to add this is to find a way to add / describe an extra column into the many-to-many join table that doctrine generates. If we can't do this we can extract this join table into a separate entity that we fully control. I also agree that we should definitely do such db change now instead of later and possibly leave the

[2017-01-11 12:10] imphil commented on #7
In GitHub and GitLab it's possible AFAIK for one owner to remove the other owners, and I think that's sensible and makes our concept easier to understand. Otherwise we'd have three roles, creator, owner and member. I think owner and member are sufficient, and the one-off case of someone fighting with someone else over ownership rights and deleting stuff can be handled by replaying a backup if this

[2017-01-22 13:56] imphil commented on #57
This bug has been marked as a "good first bug". If you're interested in working on it, have a look at the developer documentation at http://librecores-web.readthedocs.io/en/latest/ and comment on this bug or contact the listed mentor for more details. The mentor will be available to help you complete this task.

Mentor: @imphil
Required Skills: HTML, CSS

[2017-01-22 16:18] imphil commented on #63
Documented in d59d36736ee6ee7a7905f8ac0ae89285ee1e04d4 on http://librecores-web.readthedocs.io/en/latest/contributing.html and linked in various places in  d9a1bfff2a8f45b29ffeffaa0d37e382cb58ae32 and 5c237aef6bfd3336ecbaf624471941ce714b8233

[2017-01-22 16:18] #63 closed

[2017-01-22 17:04] imphil commented on #61
This bug has been marked as a "good first bug". If you're interested in working on it, have a look at the developer documentation at http://librecores-web.readthedocs.io/en/latest/ and comment on this bug or contact the listed mentor for more details. The mentor will be available to help you complete this task.

Mentor: @imphil
Required Skills: HTML, writing

[2017-01-22 17:05] imphil commented on #41
This bug has been marked as a "good first bug". If you're interested in working on it, have a look at the developer documentation at http://librecores-web.readthedocs.io/en/latest/ and comment on this bug or contact the listed mentor for more details. The mentor will be available to help you complete this task.

Mentor: @imphil @wallento
Required Skills: PHP (Symfony), a bit of HTML, CSS

[2017-01-22 17:09] wallento commented on #41
A potential good starting point is this:
 * Slides: http://de.slideshare.net/fogs24/sfughh-ta
 * Project:  https://github.com/fogs/tagging-bundle

[2017-01-22 21:37] imphil opened #93 "Support parsing restructured text from repositories"
Currently we support parsing markdown, POD and plain text from git repositories for README and LICENSE documents that are shown in the project repository. We should add support for at least another popular choice, restructured text.

Tasks:
* Figure out how to efficiently convert rst to HTML.
* Extend the code at https://github.com/librecores/librecores-web/blob/master/site/src/Librecores/ProjectR

[2017-01-23 08:03] wallento opened #94 "Send E-Mails"
Despite everyone likes some silence in their Inbox, we probably need some mailing. For example a welcome message, once a project is added, any action related to orgs, etc.

[2017-01-24 02:50] berndca opened #95 "vagrant up hangs after librecores: SSH auth method private key"
I ran bootstrap-dev.sh and used the default credentials (ansible/secrets.dist/dev-vagrant.secrets.yml).

I added v.gui = true to the vrtual box environment

The virtualbox window shows a few messages:

lvmetad is not active yet, using direct activation during sysinit (2x)

Scanning for Btrfs filesystems
/dev/mapper/vagrant--vg-root: clean ...
6.9... piix4_smbus 000:00:07.0: SMBus base address unin

[2017-01-24 02:58] eliaskousk commented on #95
Hi,

I've seen this happen before with the bento/ubuntu-16.04 box image v.2.3.0.
Thus we stayed to 2.2.9 which works fine but now I see in the Vagrantfile
that Philipp has recently upgraded to v2.3.1 which probably has the same
networking issues as v2.3.0. Change the 'config.vm.box_version' in the
Vagrantfile to 2.2.9 and you should be fine. The commit can wait until
tomorrow (its almost 5AM in Gr

[2017-01-24 03:17] berndca commented on #95
Thanks for the quick response. I changed line 7 of the Vagrantfile to

config.vm.box_version = '2.2.9'

However the symptoms remain. This did not have seemed to make a difference.

On Jan 23, 2017 6:58 PM, "Elias Kouskoumvekakis" <notifications@github.com>
wrote:

[2017-01-24 08:54] imphil commented on #95
I'll try to reproduce this, I already have an idea.

[2017-01-24 09:02] #95 closed

[2017-01-24 09:03] imphil commented on #95
@berndca I've been able to reproduce your problem and pushed a fix. To try it, destroy your VM and recreate it:

[code]

[2017-01-24 17:27] berndca commented on #95
Thanks, it's working now.

On Jan 24, 2017 1:03 AM, "Philipp Wagner" <notifications@github.com> wrote:

[2017-01-25 01:21] berndca opened #96 "planet page tasks"
- resolve mixed/insecure content issue for external images, some contributions are hosted on insecure servers. Perhaps we can encourage the website owners to upgrade to https.
- consider pagination, page is getting very long
- Find out why fontawesome can not be loaded in Firefox, check if it's used at all.

[2017-01-26 09:15] imphil commented on #57
@berndca, I like the demo at http://librecores.netlify.com/. Very nice work, I especially like the reduced icons.

A couple of minor comments:
- maybe a bit of margin/padding around the logo (top right) would be nice for small screens (<768px)
- the search button below the search bar looks still not really good in my eyes. At least we should add a bit of space between the search bar and the button

[2017-01-26 09:25] wallento commented on #57
very nice, @berndca.

Another minor comment: The upper part doesn't seem centered.

[2017-01-26 15:04] berndca commented on #57
Thanks for the feedback. The main point of the first demo was to see if
the fa icon approach for small screens would be acceptable.

I have pushed an updated version. Please review and comment.

The issue with the search submit button was another overflow. I have
change the search input to an "input-group-btn" to avoid overflow.
I would not consider this solution perfect. However I would want to g

[2017-01-26 15:19] imphil commented on #57
Looks great, no further comments on my side!  Thanks a lot! Let me know if you need help preparing a PR for this.

[2017-01-26 15:22] wallento commented on #57
Hi, thanks!

For me the "We drive Free and Open Digital Hardware." is not centered but seems leaning to the right.

[2017-01-26 15:29] berndca commented on #57
@wallento Good catch. I uploaded a new version.

[2017-01-26 15:31] berndca commented on #57
@imphil Due to the fact that CSS and template changes impact more than one page I might want to take a look at the other pages first to make sure I don't break anything. Perhaps it would be a good idea to include updates to all pages in this PR?

[2017-01-26 16:29] imphil commented on #57
sounds good to me.

[2017-01-26 17:44] berndca commented on #57
@imphil I have quite a number of changes to librecores.css. I have basically switched to the version served by the development server, because it's cleaner. (There a semicolon required even after the last statement in a block.)

I noticed a couple of open PR's. PR #92 also has changes for librecores.css. Any chance that this could be merged soon? There will also be changes to other templates since

[2017-01-27 14:20] berndca commented on #85
Please note that the archive for this repo https://github.com/krevanth/ZAP/archive/master.zip is less than 1MB and it downloads in a few seconds. Of course this will only work when the "download as archive" option is available.

[2017-01-27 14:32] imphil commented on #57
@berndca
- PR #92 is merged now, the other one requires more work.
- if you search for *.html.twig you should find all HTML templates. Your list looks about right. I don't know of an easy way to get all URLs, you essentially would need to look at the routing.xml and the associated PHP functions which template is rendered. But from your list, that's it:

    site/src/Librecores/SiteBundle/Resources

[2017-01-27 15:45] berndca commented on #57
@imphil I could use some help with from template for the search form in the home page.

So far I got:

[code]

I noticed that the original template uses form_start, form_widget etc. Do I have to use these functions or would the above code be acceptable?

Thanks, Bernd

[2017-01-27 15:59] imphil commented on #57
@berndca the form_* symfony tags make sure that the default styling is added to them. For the search box on the home page (and since it's just a very simple GET form anyways) going with plain HTML is fine (at least I don't see any problems right now) and makes styling easier. Go for it!

[2017-01-27 17:52] berndca commented on #57
Sorry guys the new navbar item (CI) causes overflow again. Please do seriously consider saving some characters in the navbar. We were pretty much at the border before adding CI. Therefore the total number of characters in the navbar should not exceed what we had before. Can you make this work?

Please find a live demo with the extended navbar at http://librecores.netlify.com/.

[2017-01-27 18:06] imphil commented on #57
I also find the navbar a bit overcrowded -- we don't need to have all content in the top navbar.

@wallento, @berndca how about this reduced version?

- Search Projects
- Learning Center (Documentation, link to https://www.librecores.org/static/docs)
- Community Hub (Replaces Planet LibreCores, link to https://www.librecores.org/static/community-hub)
- About & Roadmap (leave that one in for now, I

[2017-01-27 18:11] berndca commented on #57
Would it help to group the items and use dropdowns?

[2017-01-27 18:16] wallento commented on #57
My thoughts:

- Instead of "Search Projects" we probably will have "Browse" in long term. I like how an some websites they have a magnifier symbol and when you click it expands to a search bar.
- "Getting Started" should stay
- "Planet Librecores" -> "Planet"
- "Continuous Integragtion" -> "LibreCores CI"
- "About & Roadmap" -> "About" (the roadmap was from a previous marketing plan of me)

[2017-01-27 18:17] wallento commented on #57
That's probably the least impact and (rename only) and we can later think of dropdowns (which I also like). If you both agree I will create a PR

[2017-01-27 18:21] imphil commented on #57
- Search vs. Browse: I agree with the long-term plan, but for now there's nothing other than search :)
- I don't like the "Getting Started" one -- getting started with what exactly? That's why something in the line of "Learning Center" would work out better I think.
- Planet is just one thing, we also have quite some mailing lists, irc channels etc. we should link the more general category on the

[2017-01-27 18:24] wallento commented on #57
Understood.
- Searching is also not very fascinating, but okay, then "Search"?
- "Learning Center" sounds a bit academic to me, so I would compromise on "Learn".
- "Community" instead of "Community Hub"?

Of course I start bikeshedding now, make a final call and I can fix it immediately.

[2017-01-27 18:26] berndca commented on #57
I have no strong opinion either way. Just a few observations. The "Search Projects" link leads to the Search page which implements search for projects AND users. Perhaps we could change it to just Search?

The dropdowns would be easy to implement.

[2017-01-27 18:31] wallento commented on #57
Please amend as it makes sense, @imphil

Thanks all!

[2017-01-27 18:31] imphil commented on #57
Hm. Probably some reference to the fact that LibreCores hosts Projects would be nice there? I agree that "Search Projects" is technically not correct, but maybe worth to have "Projects" in there? Or go directly with the result, and not the action, making that "Find Projects"? So many options :-)

So let's go with:
- Search/Search Projects. Or go with "Find Projects"?
- Learn
- Community
  - Blog P

[2017-01-27 18:33] wallento commented on #57
Yes, that looks good to me. I found that in the PR I even missed LibreCores CI as CI. I would amend, but how would drop down work?

[2017-01-27 18:35] imphil commented on #57
@berndca how about you add the new header directly in your PR? Since you probably know best how to implement the dropdown as well.

[2017-01-27 18:43] berndca commented on #57
Have a look: http://librecores.netlify.com/short-1/ (**new** link)

[2017-01-27 19:00] berndca commented on #57
@imphil Does this work for you? Let me know if you want me to change anything.

[2017-01-27 20:25] imphil commented on #57
@berndca looks good! A small (and I think last) bit on the jumbotron.

In Desktop and Mobile:  could you increase the space between the "We drive Free and Open Digital Hardware." and the search bar? It looks a bit close together.

With FF on my cellphone it looks like the picture below. Could we reduce the size of the font a bit? It looks rather large in comparison to the search bar below it.

![g

[2017-01-27 20:38] berndca commented on #57
I have updated http://librecores.netlify.com/short-1/. Please review and comment.

[2017-01-27 20:44] imphil commented on #57
Looks good!

[2017-01-27 21:30] imphil commented on #86
I guess we'll never be able to get bug-free output unless we go with the exact same solution as GH uses (https://github.com/github/markup).

Idea:
- Switch the Project::descriptionText and Project::licenseText fields to contain processed HTML.
- wrap that Ruby stuff in a separate script that we call when processing.
- Switch from editing MarkDown to HTML on LibreCores itself.

[2017-01-27 21:40] berndca opened #98 "fatal: [librecores]: FAILED! => {"changed": true, "cmd": ["composer", "install"]"
I was trying to set up the dev environment for the latest state of master. Unfortunately this did not work. I tried both vm_box_versions 2.3.1 and 2.2.9.

[2017-01-27 21:45] imphil commented on #98
Hm, that's an error of Ansible during provisioning. The box should be OK.
Usually composer takes quite some time to get all dependencies and might fail if your internet connection was interrupted or something like this.

Just go into the vagrant folder, and re-try provisioning.

[code]

If this doesn't help, try
[code]

again. I don't see the issue here, so I'm strongly assuming something in your

[2017-01-27 21:58] berndca commented on #98
I tried vagrant provision first. This did not work, so I went ahead with vagrant destroy/up. It failed with the same error message again. Internet should not be an issue (wired connection to ADSL). Here is the complete error message:

fatal: [librecores]: FAILED! => {"changed": true, "cmd": ["composer", "install"], "delta": "0:00:00.292500", "end": "2017-01-27 21:53:49.432517", "failed": true, "rc

[2017-01-27 22:03] imphil commented on #98
It seems that the file `site/vendor/composer/installed.json` somehow got corrupted. This directory is mounted from your source tree into the VM, so a vagrant destroy/up won't get this fixed. Please try the following on your host machine:

[code]

It should re-run composer and get the `vendor` directory back.

[2017-01-27 23:15] berndca commented on #98
I copied the site/vendor/composer/installed.json from a previous run and it appears to work now.

Thanks, Bernd

[2017-01-27 23:15] #98 closed

[2017-01-28 17:57] eliaskousk commented on #7
I have completed the required additions to support multiple owners. It took a lot of changes but the solution I think is now cleaner and better. You can see the changes in the [organizations branch](https://github.com/eliaskousk/librecores-web/tree/organizations) and I'm ready to do a PR sometime during the weekend so that we can start reviewing it. I just need to explain in a short text on the PR

[2017-01-28 23:34] imphil commented on #7
Great! If you find time to open the PR I can have a look at it on Sunday. Thanks already now!

[2017-01-29 04:19] eliaskousk commented on #7
Submitted the PR (#101), please be gentle on your review! :)

[2017-01-29 12:16] wallento opened #103 "Activity protocol"
Currently we only can see activity by modification data.

Instead, we should keep an activity protocol:

- datetime
- type (enum `PROJECT_ADDED`, `PROJECT_MODIFIED`, ...)
- by (user id)
- what (string)

The idea is that this can later be other activities too, e.g., "<user> commented on <projected>".

[2017-01-29 12:56] imphil commented on #57
Fixed in #100

[2017-01-29 12:56] #57 closed

[2017-01-29 13:48] berndca opened #105 "Information Architecture"
I'm new to this project and there are still quite a number of things I do not understand about what we are trying to build. I'm wondering if you would be open to create a (very much simplified) Information Architecture for librecores.org. We could you the Wiki pages to document this work. The main focus should be on user research and analysis. A common mistake made by developers is to assume all u

[2017-01-29 13:51] imphil opened #106 "Make CSS in Roadmap more mobile-friendly"
Currently the CSS styling the images next to the text on http://librecores.devel/static/about#roadmap is a bit broken for mobile.

![grafik](https://cloud.githubusercontent.com/assets/1467123/22404486/01214934-e632-11e6-9042-a73f8da0a4be.png)

Use a list with custom "bullets", or the col-XXX classes from bootstrap?

@berndca any input, or can you even have a look at that?

[2017-01-29 14:00] imphil commented on #105
@berndca This is an effort I certainly would welcome and support. However, I don't have the resources at the moment to actively participate in it (at least in a significant way). Would you be willing to lead such an effort? I'm of course there to support.

[2017-01-29 14:08] berndca commented on #106
It seems that this page was created from Markdown? The styles are hard coded. How would we go about introducing classes here? I would use the same approach as for the front page:

[code]

We should probably find a more generic name for the classes...

[2017-01-29 14:14] berndca commented on #105
@imphil I'm willing to contribute and help as much as possible from California. But this needs a lot of direct user interaction and most of the users are in Europe.

@wallento You are contributing a lot of ideas. Would you be interested in working on this? Could you help recruiting volunteers to perform user interviews and tests?

[2017-01-29 14:18] imphil commented on #106
Oh, I should have mentioned that. The page comes from https://github.com/librecores/librecores-web/blob/master/site/sitecontent/about.md Classes certainly would be the way to go.

[2017-01-29 14:31] wallento commented on #106
Yes, sorry for being hacky there :(

[2017-01-29 17:22] berndca opened #108 "Routing"
When I was working on the frontend issues I noticed that librecores-web uses are rather non-standard
approach to routing. I suspect that this might be caused by a lack of guidance in the Symfony docs.

A regular route for lets say org would be:

/orgs

The only allowed methods for /org are GET and POST. Whit GET you get is a list of orgs.
There could be pagination and you might be getting either t

[2017-01-29 17:25] wallento commented on #108
I think it is mainly inspired by the way github and bitbucket work

[2017-01-29 17:26] berndca opened #109 "Add styled 404 page"
The server currently responds with it's default bare bone 404 page when the requested page does not exist. This should be replaced by a custom page with some navigation so that user can easily find existing the pages.

Somebody needs to tell Symfony about the custom page before we can work on it. Otherwise it will never show up.

[2017-01-29 17:34] imphil commented on #108
There has been a *huge* amount of discussion around that, see https://github.com/librecores/librecores-web/pull/74 for example.

To avoid namespace clashes, there are two options:
1. make all orgs/users go into /users, /org etc. (or shorter versions of that)
2. move all non-user/non-org content into another namespace, e.g. /static.

We chose option 2 to create easily memorable URLs for the main co

[2017-01-29 17:39] berndca commented on #108
@wallento  That's great, but github does not have any assets (CSS, img, js) on github.com. They are all on a sub domain called assets-cdn.github.com. The documentation is on another subdomain help.github.com.
@imphil The trouble with first come first serve is that there are very few options for people with existing github or google accounts.

[2017-01-29 17:40] imphil commented on #52
duplicate of #109

[2017-01-29 17:40] #52 closed

[2017-01-29 17:40] imphil commented on #109
You just need to put the templates in a special directory, see here: https://symfony.com/doc/2.8/controller/error_pages.html#use-default-exception-controller
You can take the defaults from app/Resources/TwigBundle/views/Exception/ as starting point.

[2017-01-29 17:40] berndca commented on #108
Could we at least have all internal links pointing to the home page point to / instead of /static?

[2017-01-29 17:47] imphil commented on #108
It should be possible to connect an OAuth login account (github/google/others) to a differently-named librecores account. I didn't try this out recently and UI might be missing, but that has been considered.

Actually putting assets on another domain is something to explore in the future as well. Not mainly for namespacing reasons, but for performance/caching/cdn/# of tcp connections reasons. Noth

[2017-01-29 17:52] imphil opened #110 "Check if asset paths are excluded in UserOrgNameValidator"
We need to make sure that we also exclude the paths on which assets are served (/css, /js) from the valid user/org name options.

[2017-01-29 17:54] wallento commented on #110
Just out of curiosity: Why don't we serve them all from a unified `static` path. To complete it, a second `dynamic` path can be added and the problem is solved, or not?

[2017-01-29 18:00] imphil commented on #110
I don't get the part with "dynamic". And serving assets from /static/css , etc will cause the same namespacing issues as we have right now, just this time it's a collision with pages in /sitecontent instead of user/org names.

[2017-01-29 18:28] wallento commented on #110
What I mean:

`/`:
- `static`: All static stuff served
  - `css, js, img`
  - `sitecontent`
- `dynamic`:
  - `register, login, ..`
  - `tags/`
- everything else is user or org

Kind of that direction

[2017-01-29 19:31] imphil commented on #110
so dynamic would replace replace "user", "org" and a handful of other things. I don't see this as a significant benefit to revisit this issue. We've been discussing this for far too long for my taste.

[2017-01-30 01:10] berndca opened #111 "Ensure that all projects on liberecores have an open source license"
There are a number of projects which do not have any license listed or included. Perhaps we could encourage the project owner to make up their mind and select an open source license.

I have not seen this yet, but we should only allow listing of an "orphan" project if the copyright holders have released the project under an open source license.

[2017-01-30 07:52] wallento commented on #111
I want to add to this, that I finally made up my mind and think we should only allow open source licenses from a list of approved licenses.

This could be OSI approved plus Solderpad, OHL and OHDL for example (we are working on the latter to get OSI approval).

[2017-01-30 07:57] wallento commented on #110
I don't want to restart any discussion, was just suggesting to move stuff one hierarchy level down. I don't want to replace `user` or `org`, but suggest to have them in an extra layer. That way we are clear for the future, because everything has a clear place on the first hierarchy level (e.g., `static`, `dynamic` and `<userOrOrg>`. Otherwise we will now have an endless discussion about what we ma

[2017-01-30 08:01] olofk commented on #86
As you say, we will never have bug-free output unless using the same solution as github. The problem is that this isn't enough, as the text might contain internal links that will be broken. The source could also be asciidoc or Restructured Text. (For the latter, I have a similar problem with the README.rst in FuseSoC that is also used by pypi, and has broken links there). Wouldn't the easiest solu

[2017-01-30 08:36] wallento commented on #110
Here an extra reserved name:  `api` (REST API entry point)

[2017-01-30 18:33] wallento commented on #41
There is a first draft in the `tags` branch. I think from the entities we are ready. Missing:

* Frontend: @berndca, can I interest you in helping me with that?
* A management entity to add tags (possibly accessible by users in lets say librecores org)

[2017-01-30 20:07] berndca commented on #41
@wallento Of course I'm willing to help. However I must admit that I feel lost. Perhaps it's because I missed the discussions you guy's had earlier. I have read the road map several times, but I have a hard time reconciling the statements in the road map with what I'm seeing. Again, perhaps I do not have all the information? This starts with why are we building what looks to be a github clone. Why

[2017-01-30 20:12] #106 closed

[2017-01-30 21:20] imphil commented on #72
Thanks for reporting this, and I'm *very* sorry for not getting back to you earlier about this. I just didn't have time  until now that LibreCores development has picked up some speed again. This is now fixed in master and will be part of the next deployment push (about to happen before the weekend, so stay tuned!)

[2017-01-30 21:20] #72 closed

[2017-01-30 21:21] imphil commented on #7
Let's close this for now that the functionality is there, and continue in independent issues for the style and other follow-ups. Thanks Elias for the implementation!

[2017-01-30 21:21] #7 closed

[2017-01-30 21:47] imphil opened #112 "Joining an organization without being logged in causes error"
STR:
- Go to https://stage.librecores.org/fossi
- Ensure that you're not logged in (or click on logout)
- Click on "Join Organization"

Actual result:
- Error 500

Expected result
- redirection to login page

[2017-01-30 21:49] imphil opened #113 "Naming of organization description properties"
The current state of the organizations work is on stage.librecores.org

Currently, some of the new pages need frontend/styling work done.

First a general naming part: currently each organization has three data items associated:
- a name
- a display name
- a description

These three items seem to be a bit redundant if not properly explained. What they are is:
- a "url fragment"/username-style thin

[2017-01-30 21:56] imphil opened #114 "Improve frontend of new organization sites"
The current state of the organizations work is on stage.librecores.org. Pages like https://stage.librecores.org/fossi need some styling work done.

Testing/development process in a development VM (branch master): [can also be done on stage.librecores.org, but then changes won't be visible of course]
- Log in or create a test account (on librecores.devel)
- Click on the top-right username and click

[2017-01-30 21:57] imphil opened #115 "Extend search to also search for organizations"
Currently we have two tabs in the search, projects and users. Extend that to also have a tab which allows us to search for organizations.

[2017-01-30 22:11] olofk commented on #41
We're trying to build a useful community hub for people involved in Open Source Silicon projects. The project listing is one part of LibreCores. The rationale here is that people don't put their designs on opencores anymore, since it lacks many features that is expected of a modern site. Instead, many designs end up on github and other places, but there is not really a good place to find an overvi

[2017-01-31 01:55] berndca commented on #41
@olofk I'm afraid that there might have been a misunderstanding about what constitutes a GitHub app. A GitHub app is a web application (website) that is registered with GitHub and uses resources provided by GitHub such as OAuth2 "Sign in with GitHub" and/or the GitHub API. Strictly speaking librecores.org is already a GitHub app because of the social sign in. I did explore the GitHub API a while b

[2017-01-31 02:39] berndca commented on #114
@imphil I'm happy to take a look. Could you please provide me with a couple of sketches - one for desktop and another for mobile per page? Could we agree to put comments in the templates at the beginning and end of the code like begin xyz.twig ... end xyz.twig (full path). This would make it much easier for me to locate the correct file to make changes to.

Anything with forms is going to be more

[2017-01-31 06:53] wallento commented on #41
Hi guys,

can we please move the general discussion to the mailing list or to new tickets. Regarding GitHub we are a GitHub app and should make use of its API wherever possible (see project activity badges). Most of the "meta-stuff" we do is not part of GitHub as in GitHub everything happens _inside_ a project. This stuff we don't touch, its more how projects relate and how people see them, none o

[2017-01-31 07:05] wallento commented on #103
As @berndca suggested in #91 we should have this on a separate page. I will start a new branch for this throughout the day.

[2017-01-31 07:06] wallento commented on #103
Replaces #91

[2017-01-31 07:06] wallento commented on #91
Moved to #103

[2017-01-31 07:06] #91 closed

[2017-01-31 08:34] wallento opened #116 "README from external sources should be synced and non-editable"
I agree to a point raised by @berndca in #41 and that I missed so far:

- The description should be either freely editable or from an external source
- Text from an external source should probably be synced (by using the Github/Bitbucket/.. API hooks) or fetching periodically

The should be non-editable with a box saying why and a red button saying "I want to edit and make it become a free text" o

[2017-01-31 09:08] wallento commented on #116
Looking at the appearance of the current page we should have a confirmation when switching from the first radio button ("Extract the project description out of the README file in the source code.") to the second ("Enter the project description here."), right?

[2017-01-31 10:52] imphil commented on #116
I don't see how the current design is ambiguous to users. There are two clearly labeled choices. If there is anything unclear, please open a PR with a suggestion.

[2017-01-31 10:54] wallento commented on #116
It should be highlighted to the user that by switching it becomes out-of-sync, ie, she does not update the repos README. Will do a PR

[2017-01-31 11:35] imphil commented on #116
That's the very nature of a radio button that people have been used to for many years.

[2017-01-31 11:43] wallento commented on #116
Sorry, but where exactly is the problem in being more verbose about the implications of pressing such a radio button? Don't know why this tone is necessary for such a simple issue.

[2017-01-31 12:45] berndca commented on #116
I'm wondering why editing the README was introduced originally. I could imagine that the intent may have been to allow the user to do some minor touch up to make the document look presentable using the markdown js rendering. However over time is probably became clear that this is way beyond touch up.

There is of course the argument against having multiple (out of sync) documents covering the same

[2017-01-31 12:52] wallento commented on #116
Yes, the argument is that there is no need to have the information in two places.

The problem with using the Github API is that it is limited to Github only :) I consider using the GitHub API, Bitbucket API etc. as optimizations for projects hosted on one of the platforms. So, the most generic (and complicated) one is fetching from the Git repository. I think @eliaskousk already had a look at Git

[2017-01-31 12:57] berndca commented on #116
Currently all projects registered on librecores.org are on GitHub. The only type of RCS supported by librecores is git. With git you can always put a fork of any repo anywhere on GitHub and have a cron job synchronize the GitHub shadow repo with the remote original. If that ever becomes necessary.

[2017-01-31 13:00] wallento commented on #116
I generally agree and I would have started with the GitHub specific and then add generic.

Anyhow, there is a lot beyond the code we want to access and I think in the next call we should discuss how to best encapsulate this.

[2017-01-31 13:01] wallento commented on #116
Finally, I will close this ticket. The PR #117 should cover the original issue.

[2017-01-31 13:01] #116 closed

[2017-01-31 13:26] berndca commented on #86
The a HTML version rendered by GitHub's Markup can be obtained through the AGitHub API see #116 for an example.

@olofk Just change all your links to full URL's and they will work everywhere. For instance replace
```doc/fusesoc.adoc``` with ```https://github.com/olofk/fusesoc/blob/master/doc/fusesoc.adoc```

[2017-01-31 14:01] berndca commented on #41
You are proposing hierarchical categories. I agree that this is probably the best fit for the problem. The database representation requirements of these categories depend on how we are going to use them.

If all we want to use them for is decorating the project page it does not matter that much. However if you want to query the server to get a list of all VHDL projects things get a lot more intere

[2017-01-31 14:03] wallento commented on #41
Yes, this what we are intending. Clicking on the tag brings you to the search page, searching for projects with this tag.

I think the ORM is a common effort. I put up a proposal in the `tags` branch, input is very welcome.

[2017-01-31 14:18] berndca commented on #41
If you want to filter on the server you need to represent the category hierarchy in the ORM. Depending on how many different filter categories you would like to chain you have to have to create multiple fields. If the filtering should be done in js we need a REST API which basically dumps out all projects in json format. I'm afraid there is no middle ground here.

The search page is a misnomer. Th

[2017-01-31 14:22] wallento commented on #41
Yes, that is the search and it needs serious improvement. The REST API is necessary anyhow, so we probably need to pick it up soon.

The Tagging itself is independent for now I think. I think one level of hierarchy is sufficient and that is currently reflected in the ORM.

Tags are available to typeahead and similar at `/project/tags?s=<query>`

[2017-01-31 15:39] berndca commented on #41
Let me summarize to make sure I understand your plan.

Right now:
- Add a list of tags, each independent of the others (no hierarchy) to the project
- Add a limited project "tag" query to project search page.
- Display the tags on the project page with links to the "tag" search.
- "tags" form: create a new route for the project, something like /{parentName}/{projectName}/edit_tags with methods GET

[2017-01-31 15:51] wallento commented on #41
Roughly yes, just minor additions:

They are independent to each other but are from different categories. Those categories are identified by a common prefix (e.g. `core:`) and a color. For example a core may have multiple interfaces.

We should discuss soon an ETA for the new search. If we think this is too far in future, yes.

I saw something here: https://maxfavilli.com/jquery-tag-manager. Not s

[2017-02-01 13:50] berndca opened #120 "GitHub Integration Proposal"
I would like to propose an architecture for the integration of GitHub with the LibreCores website.

The main point is that the Symfony web app and anything running on the web server does not have any part in extracting the required data from the GitHub API. An external service like AWS Lambda is responsible for extracting the data from the GitHub API and storing it in the LibreCores database.

The

[2017-02-01 14:00] wallento commented on #120
Hi @berndca,

this sounds very interesting, despite I don't fully understand it without reading the details of the other AWS stuff :)

@imphil also mentioned he is working on abstracting the source repository capabilities to encapsulate API calls or a plain checkout. That would also extend to other properties and badges, I think.

I will need to educate myself about the pros and cons of both, but

[2017-02-01 15:54] #59 closed

[2017-02-02 12:23] eliaskousk commented on #120
I really like the proposal of @berndca. On a quick look of it I think it seems solid and very useful for our future needs regarding the scalability of LibreCores. I've never used AWS Lambda but it seems good and easy to use. The only drawback I see is that right now we don't actually need such a nice solution and something simpler could work as well for our immediate needs until we gain more tract

[2017-02-02 13:21] berndca commented on #120
The programming part is rather straightforward. However the configuration of the AWS settings including IAM etc. will also take some effort. The upside is one these settings are working it becomes very easy to implement changes or clone and change the script to support another provider like Bitbucket.

We should probably review the database schemas for the models containing repository (and user/or

[2017-02-02 13:32] eliaskousk opened #122 "Integrate an admin bundle like EasyAdmin"
I propose we install an admin bundle like [EasyAdmin Bundle](https://github.com/javiereguiluz/EasyAdminBundle) to easily view or edit our model data. This is very useful both for the LibreCores developers and non-developers to quickly make edits on e.g projects / orgs / users without resorting to manually entering queries on a regular SQL client. It will also allow us to visualize the current acti

[2017-02-02 16:00] #112 closed

[2017-02-02 16:03] imphil commented on #122
Elias, good idea, especially for development. For production, we need to make sure that (1) it's properly secured, and (2) that manual intervention cannot leave the DB in inconsistent state (i.e. dependencies which are not enforced by the entities or in the DB constraints, but in our business logic).

[2017-02-02 16:24] eliaskousk commented on #122
Both points you raised are definitely important and I will keep them in mind while playing with it locally. When I feel they are both covered I will start a PR so that we can further discuss it. In the worst case that there are issues, especially with the consistency of the models, we can keep it for development only.

[2017-02-02 16:29] imphil commented on #122
Yes, using it for development should be definitely  possible. (I also though about adding phpmyadmin or a similar mysql frontend to it, even though it's been a bit frowned upon) :)

[2017-02-02 16:39] wallento commented on #122
Also note, that I recently played around with the Doctrine Extensions for Logging (Loggable). I think we should have this in place to record all changes. One nice feature of the loggable extension is that an entity can be versioned, i.e., the state can be restored at any time.

[2017-02-04 14:43] imphil commented on #114
I'm not a designer myself, the goal is just to make it look a bit more structure, e.g. by getting inspired by how other sites do it. I'll have a look myself then.

[2017-02-05 01:09] imphil commented on #86
done in PR #123

[2017-02-05 01:09] #86 closed

[2017-02-05 01:10] imphil commented on #86
For example https://www.librecores.org/epekkar/kactus2 shows up correctly now.

[2017-02-05 01:37] #69 closed

[2017-02-05 23:35] berndca opened #124 "DEV Environment error"
I'm getting the following error message when I run the dev environment with the latest version of master:

[code]

[2017-02-05 23:48] berndca opened #125 "/project/new hangs on staging server"
I tried to create a new project on the staging server:

https://stage.librecores.org/berndca/test

The process hangs and refresh just brings the same page back.

[2017-02-06 10:57] eliaskousk commented on #124
You seem to be missing the newly added html-purifier bundle. Ssh into your vm and do a composer install:
[code]

[2017-02-06 11:08] eliaskousk commented on #125
This also happens on my local vm sometimes. I didn't give it much consideration since I can't reproduce it. I was thinking that it might have to do with the vm sleeping or shuting down when my host sleeps or shuts down and maybe the rabbitmq daemon doesn't like such interruptions. I've made this conclusion since on a clean vm (destroy and rebuild) this problem never happens.

Now that we see it ha

[2017-02-06 11:41] imphil commented on #124
If you have any problem with the dev environment, please first do a vagrant destroy && vagrant up to rebuild the VM from scratch.

In this particular case, a vagrant provision would have also been sufficient, a composer install will solve this particular problem but then later on some dependencies will be missing.

[2017-02-06 13:20] imphil commented on #125
On the staging server, this most likely was a deployment issue. I took care to manually convert the production instance to the new database settings, but didn't do so for the staging one. I've now re-deployed staging and it should be fine now. However, the test project is gone as we always deploy our database fixtures on stage and delete anything else.

[2017-02-06 13:20] #125 closed

[2017-02-07 00:03] berndca commented on #124
Got it to work. Thanks!

[2017-02-07 00:03] #124 closed

[2017-02-08 13:31] olofk commented on #40
Can this be closed now, or do we want to implement filtering first?

[2017-02-08 13:33] olofk opened #126 "Search is broken from the front page"
Searching for a keyword on the main page only redirects to the search page, where a new search has to be performed

[2017-02-08 14:27] imphil commented on #126
Hm, maybe in the restyling something went wrong. I'll get this fixed tonight.

[2017-02-08 14:29] imphil commented on #40
Let's leave this open until we have real "browse" functionality with some categories or even things like "featured" content.

[2017-02-08 15:41] berndca commented on #126
Sorry, when changing from widgets to HTML the input name got lost. Just add  name="q" to the input tag in line 15 of /site/src/Librecores/SiteBundle/Resources/views/Default/home.html.twig.

[2017-02-08 19:28] #126 closed

[2017-02-09 00:12] #55 closed

[2017-02-09 00:50] imphil commented on #96
In 547758e427579e567a26a1ecb199589e3916fec5 I've switched all feeds to HTTPS if they support it. Most github-hosted sites don't support HTTPS with valid certificates, for those we need to accept the mixed content warnings for now. (I don't want to get in the legal trouble of proxying the content through our HTTPS servers.)

Fontawesome is properly loaded in my testing, is this an issue you still s

[2017-02-09 01:11] berndca commented on #96
Thanks. The only mixed content I see right now is images embedded in posts from http://www.lowrisc.org/. The easiest way to get HTTPS is through [Cloudflare One-Click SSL](https://www.cloudflare.com/ssl/). The whole process takes less than 5 minutes and you never have to deal with certificates.

The issues with Fontawesome in Firefox seem to be gone.

I'm not so sure about pagination anymore. I lo

[2017-02-11 00:13] berndca opened #127 "Error in Firefox Ubuntu"
There appears to be a problem with the google analytic.js. I get an error in Firefox 51.01 (Ubuntu):

`SyntaxError: function statement requires a name  analytics.js:1:436`

Here is a screenshot.
![librecores-analytics](https://cloud.githubusercontent.com/assets/466654/22848786/c0da6f62-efab-11e6-9c9f-c0754ec972f6.png)

It looks fine in Chrome.

[2017-02-12 11:06] imphil commented on #127
Looks like either Firefox is broken or your internet connection during this page load. analytics.js is provided by Google, it's highly unlikely they'll ship a non-working version to billions of people. (And if they did, I'm sure it would be resolved by now.)

Please reopen if this is reproducible on your side.

[2017-02-12 11:06] #127 closed

[2017-02-12 22:35] berndca commented on #120
@oleg-nenashev I have followed up on your concern that we might exceed GitHub's API quota when polling their API. I have created an AWS Lambda script to poll https://api.github.com/repos/ for the 43 repos currently registered on LibreCores plus another 400+ hardware related repos every 15 minutes. I have not encountered any problems with GitHub. This is not much of a surprise since I'm only making

[2017-02-12 22:38] oleg-nenashev commented on #120
For now I'm perfectly fine with the YAGNI approach. If we are far from hitting the limit, no need to overcomplicate the things

[2017-02-12 22:49] berndca commented on #120
I agree. Polling is very easy to implement. We can always reduce the polling intervals if needed.

[2017-02-13 12:10] berndca commented on #127
The cause appears to be the interaction of the NoScript Firefox addon trying to block google-analytics and the analytics script. The strange thing is that this setup had been working fine for the last few weeks.

[2017-02-13 15:32] imphil opened #128 "Redirect to www.librecores.org"
GitHub OAuth login is only successful if we are calling from www.librecores.org, not librecores.org. Let's redirect everybody to www.librecores.org to have a single domain and less CORS and other issues.

[2017-03-02 16:12] imphil commented on #93
This has been fixed as part of #123

[2017-03-02 16:12] #93 closed

[2017-03-02 16:14] imphil commented on #109
This bug has been marked as a "good first bug". If you're interested in working on it, have a look at the developer documentation at http://librecores-web.readthedocs.io/en/latest/ and comment on this bug or contact the listed mentor for more details. The mentor will be available to help you complete this task.

Mentor: @imphil
Required Skills: HTML, CSS

[2017-03-02 18:05] #115 closed

[2017-03-03 04:38] Agathver commented on #109
Hello @imphil,
I'm new to librecores-web development. I'm working to resolve this issue. I am implementing, 400, 404 and 500 error pages.

[2017-03-03 07:36] wallento commented on #109
Thanks @Agathver, looking forward to your code!

[2017-03-03 10:47] imphil opened #131 "Provide the "production" environment in Vagrant"
For testing caching and other features, a production environment in Vagrant would be nice.

[2017-03-03 13:11] Agathver commented on #131
I would like to propose a system that I have used earlier.
#### Development environment
* Development is done from Vagrant using `project.devel`, as it is done here.
* Symfony prod mode activated by `project.test`, mapped to the same virtual machine.
* Two very similar nginx configs in sites-enabled were used, differing only in their default routing locations.
* They were similar to the production

[2017-03-03 13:17] imphil commented on #131
Sounds reasonable, mind doing a PR?

[2017-03-03 13:20] Agathver commented on #131
Sure, I can. I need time to study and understand the ansible part of the code.

[2017-03-04 20:41] imphil commented on #109
Fixed in #132

[2017-03-04 20:41] #109 closed

[2017-03-04 20:56] imphil commented on #85
We're now using a flat clone, this solved the issue for now. Everything else will involve the API integration, which is coming in the future (and different issues).

[2017-03-04 20:56] #85 closed

[2017-03-04 20:58] imphil commented on #46
We now have sample projects on staging, as well as real projects in production. Marking this solved.

[2017-03-04 20:58] #46 closed

[2017-03-04 20:59] imphil commented on #10
Resolved in c523e35ad17214294c08c39a4eff20562f2f32dd

[2017-03-04 20:59] #10 closed

[2017-03-04 21:00] imphil commented on #56
this works now with migrations in place.

[2017-03-04 21:00] #56 closed

[2017-03-05 01:30] berndca commented on #47
How about a [full text search](http://www.w3resource.com/mysql/mysql-full-text-search-functions.php)?
[librecores.org](https://librecores.org) is a very low traffic site. Apache Solr is an overkill.

[2017-03-05 02:17] Agathver commented on #47
How about using an API like algolia instead? Adding solr or elasticseaech will require us to manage another installation. Algolia's free plan will currently serve the site easily and they also offer high volume plans for free to open source projects.

[2017-03-05 03:30] Agathver opened #133 "Using editorconfig for consistent styles"
[Editorconfig](http://editorconfig.org/) is a cross IDE code style configuration. Since everyone has their favorite IDE, editorconfig will automatically set appropriate indentation and line ending standards consistently across all supported IDEs.

[2017-03-07 20:07] Agathver commented on #70
Hello, I would like to suggest looking at a ruby gem that does the job of guessing licenses from text (by using some math tricks). https://github.com/benbalter/licensee

This is [used by Github](https://help.github.com/articles/licensing-a-repository/#detecting-a-license) to detect licenses.

And additionally, by using the [Github license API](https://developer.github.com/v3/licenses/), licenses f

[2017-03-07 20:18] wallento commented on #70
Yes, that is the best candidate to guess. Actually, we were planning on restructuring the licenses a bit: There should be a list of known/established licenses to autocomplete the name of the license and the large textarea is only used then for unknown licenses. I am still not 100% sure how that looks best, but licensee would match into that by doing the initial guess.

[2017-03-07 20:18] Agathver commented on #94
Hi @wallento
I would like to implement this feature over this weekend. Currently I'm thinking to start with the basic ones like welcome messages. If there is a complete list of actions where mails could be sent, and a consensus on it, I would implement them too.

[2017-03-07 20:21] wallento commented on #94
That sounds great. I think setting it up with AWS is straight forward then. A welcome message would be excellent and one after a project is set up. Finally, a mass mailing from administrators would maybe be useful as things are changing a lot this year.

[2017-03-07 20:22] imphil commented on #94
Actually this bug needs more than just "sending mails". We need a "notification system", including a way for people to opt out and opt in to just specific messages (opt out ability is a must-have). Ideally we are also able to present the same notifications on the web page itself.

Before anything can be done here please write up an implementation plan.

[2017-03-07 23:53] berndca commented on #94
I would recommend using a dedicated email vendor like [mailgun](https://mailgun.com) over AWS SES. mailgun for instance handles opt in and opt out and has a lot of other useful features and it's free for less than 10k emails per month.

[2017-03-08 05:32] wallento commented on #94
@Agathver can you have a look about available bundles for our purpose and how they would integrate?

[2017-03-08 05:51] wallento commented on #94
@berndca Interesting, thanks!

[2017-03-08 15:57] Agathver commented on #94
https://github.com/azine/email-bundle looks good. It provides out-of-the box configuration for notification delivery.
What I would suggest is to send welcome messages, notifications and other transactional emails from Amazon SES from a `<something>@librecores.org` address. And send mass mails using mailchimp or sendgrid using `<something>@<subdomain>.librecores.org` such as `newsletters.librecores

[2017-03-15 06:12] Agathver commented on #128
There's also a thing to consider: Since all those newer websites (twitter, github) have emrbaced the naked domains, without the 'www', it is increasingly common for people to actually skip typing the 'www'.

It would be wise to redirect people to whichever variant receives more hits.

[2017-03-17 04:52] Agathver commented on #68
We would need to add more repo crawlers, each specific to the service we are importing from. An added benefit is we could use service specific APIs and retrieve data more efficiently and easily without the need of cloning. Github API has nice methods for fetching the LICENSE and README files. Same is true for Gitlab and Bitbucket.

We might need to modify the new project page and add a `source` fi

[2017-03-17 11:17] wallento commented on #68
I would tend to think we should always be able to detect the hosting provider by the URL, or not?

An exception is probably Gitlab, where people may have their own server, we should maybe check if there is an efficient way to check for the API.

[2017-03-18 15:06] Agathver commented on #64
We can use something like [Apache JMeter](http://jmeter.apache.org) to stress test.

I had issues in getting distributed load testing in JMeter to work, in this case [Tsung](http://tsung.erlang-projects.org/) looks promising. However, I haven't got a chance to test it yet. We can easily launch a fleet of t2.nano spot instances and stress test, using one of these tools.

[2017-03-18 15:17] Agathver commented on #68
Probably for 95% of cases.

There is Github enterprise too. (But I expect that would be the case in < 0.001% of projects)

What I would propose is let the user select his Git provider. We can help him with auto-detecting the choice from the URL he enters, if we can. And we would then validate the choice when the user submits the form. Github and Gitlab have APIs that allow for querying the existen

[2017-03-18 19:55] #133 closed

[2017-04-09 18:18] menikhilpandey opened #136 "Sign in with Google Account gives 401 Error"
Signing in by using Google account gives 401 Error stating that "The OAuth client was deleted."
![screenshot from 2017-04-09 23 46 54](https://cloud.githubusercontent.com/assets/16885925/24839818/11b412e8-1d7f-11e7-9959-acb41f5cce50.png)

[2017-04-10 21:59] imphil commented on #136
This is most likely caused by a deployment issue (master is not yet deployed to production). It will be fixed hopefully with the next deployment to production.

[2017-04-10 23:45] imphil commented on #136
This should now be fixed in production, please give a try. Please re-open if it doesn't work for you.

[2017-04-10 23:45] #136 closed

[2017-04-11 13:41] imphil commented on #128
In the end it doesn't matter, but since we already have components requiring the www version, let's pick this one. Fix is upcoming.

[2017-04-11 14:06] #128 closed

[2017-04-13 11:36] adrianf0 opened #137 "Sign in with GitHub returns "500 Internal Server Error""
Way to reproduce:
Register -> Sign in with GitHub -> Allow libre cores to access a github account information

After the last step, the libre cores webpage returns to:

[2017-04-15 10:11] #137 closed

[2017-04-15 10:26] imphil commented on #137
Hi Adrian, thanks for the report. It should be fixed now, the code change is already deployed. Please give it a try!

[2017-04-15 10:29] adrianf0 commented on #137
Hi Philipp, yes it works ! Thanks.

[2017-05-01 20:58] imphil commented on #75
New projects imported from GitHub now load the description field into the tagline. Only the readme/license texts are continuously synced, everything else is just imported once.

[2017-05-01 20:58] #75 closed

[2017-05-01 20:58] imphil commented on #48
Importing from GH is now possible.

[2017-05-01 20:58] #48 closed

[2017-05-15 19:55] imphil commented on #41
I've been thinking about this topic for a bit now and it's time to get it implemented. I'll take care of the implementation next.

## Rough design description
- Bernd is right, "tags" are not the right name -- categories are.
- My plan is to have a [faceted classification](https://en.wikipedia.org/wiki/Faceted_classification) for projects
- Every project can be assigned to [0;n] categories
- Categ

[2017-05-17 18:02] Agathver commented on #66
This looks like we need to add assetic filters for compressing and optimizing CSS, JS and SVG. http://symfony.com/doc/current/assetic/uglifyjs.html

[2017-05-17 18:13] imphil commented on #66
Another option is presented in #67 I'm not yet sure which one is easier to use/gives better results.

[2017-05-17 18:24] Agathver commented on #66
#67 explores HTTP compression. It is a protocol level lossless compression using gzip/bzip2 or any such algorithms. Here is a relevant article:
- https://developers.google.com/speed/docs/insights/EnableCompression

Here I mentioned about, asset minification i.e, removal of unnecessary characters, whitespace etc. something like these:
- https://developers.google.com/speed/docs/insights/MinifyResour

[2017-05-17 18:41] imphil commented on #66
In the end, compression on protocol level should be similarly effective as removing whitespace before. Same goes for shorter variable names and the like -- in the end, that's just what run-length encoding is being made for.

[2017-05-18 06:17] wallento opened #139 "Delete project"
We need to provide a red "delete project" button in the setting page. Similar to what Github, Dockerhub etc. have (require writing the name into a box).

We need to delete all references to the project apparently and also in future when activity tracking is merged all references must be deleted as per out policies.

[2017-05-22 10:36] imphil opened #140 "Migrate project.name to allowed values"
In b9f384e3 we've tightened the validation of the project.name property to be more strict. However, it was forgotten to migrate existing project.name properties to the new format. This must be added to make it possible for users to edit their projects again.

Reported by Dario Cangialosi on the dev list.

[2017-05-22 19:11] imphil commented on #140
Manually migrated projects and informed owners.

[2017-05-22 19:11] #140 closed

[2017-05-29 15:26] imphil commented on #94
Since the discussion here is valuable to what we want to do, I'm morphing this bug to track the progress of sending transactional emails. I'm evaluating AWS and mailgun for now, and will get back with the results of that.

[2017-05-29 15:31] imphil opened #142 "Verify user email addresses"
Verify email addresses given by users on registration and when changing the email address by sending them a link to click on.

Users can register and use the site without being verified, however, no mails should be sent to email addresses which are not verified (except for the verification mail itself, of course).

Dependency: https://github.com/librecores/librecores-web/issues/94

[2017-05-29 15:34] imphil opened #143 "Notification system"
**Goal:** inform users about events happening on the page, e.g. invitations to new organizations, outstanding requests of any kind, etc.

Don't send out only emails, but also display notifications on the page itself. Let users enable/disable notifications, and choose how they would like to be informed about it (email, on the page, not at all).

First step is a design document for this feature.

[2017-05-29 18:36] eliaskousk commented on #142
Thanks for opening the issue, you were quicker. This feature should be much easier than the complete notification system (#143) and thus I will begin working on this. I will try to make it a bit abstract so that the actual generation of e-mails can be reused in #143.

[2017-05-29 18:39] eliaskousk commented on #143
I agree, a design document is a must for this feature. Implementing this until the next meeting is probably impossible (excuses!) but I will try to at least have the design document and #142 ready for a code review.

[2017-05-29 18:42] eliaskousk commented on #122
Almost 4 months ago I promised this but still nothing. I know what you are thinking! But I really want us to have this, at least for development and Easy Admin is really easy to install - see what I did there? :p

[2017-06-04 16:19] Agathver commented on #142
Isn't verification of user emails a standard part of FOSUserBundle ?

[2017-06-05 17:21] eliaskousk commented on #142
Yes the FOS bundle supports verification of user emails during registration but we currently don't use it and haven't tested it on either dev or production. For the latter we will use an AWS email service that Philipp will setup soon (possibly in parallel).

Also changing email address requires some attention and we also have the option of not allowing it.

Last but not least, thank you for the ht

[2017-06-13 15:04] Agathver opened #146 "Testing and CI"
We need to implement unit testing and integration testing for the Symfony based librecores.org site.

1. Using PHPUnit for units tests.
2. Symfony PHPUnit Bridge and Symfony BrowserKit for integration testing.
3. Travis CI for continous integration

[2017-06-15 08:28] Agathver opened #148 "Tests for services and routes"
We have a large number of routes and services and no tests for them. We should start adding tests.

[2017-06-15 08:29] Agathver commented on #148
This is an extensive task, so we should break it into phases:

1. Functional tests to make sure, at least all routes are displayed correctly
2. Unit tests for services
3. Functional tests for all routes and forms

[2017-06-15 08:48] Agathver commented on #66
I was trying to add compression settings to `nginx.conf`, but could not find the template for it

[2017-06-15 08:58] Agathver commented on #66
With https://github.com/KonstantinKuklin/AsseticStaticGzipBundle and http://nginx.org/en/docs/http/ngx_http_gzip_static_module.html we can save server CPU time by pre-compressing static resources.

[2017-06-15 10:08] Agathver commented on #80
@oleg-nenashev Should I assign this one to myself ?

[2017-06-20 08:00] #66 closed

[2017-06-20 08:59] imphil commented on #66
With #149 and the follow-up in f2eeda493e96a84cb4a33bfba555d65793eb353a we get a Google Speedtest result of 87 / 100 for desktop, resolving this issue. Thanks @Agathver!

[2017-06-20 09:00] imphil commented on #122
merged and pushed.

[2017-06-20 09:00] #122 closed

[2017-06-20 15:00] #146 closed

[2017-06-21 07:57] Agathver commented on #96
We can use https://github.com/atmos/camo for proxying content. Proxying content is legal in jurisdictions as the proxy agent simply performs the act of data transfer (being a "mere conduit") of the content. It does not redistribute it.

[2017-07-04 12:13] Agathver opened #153 "Provide CI environment similar to production"
#152 proposes to introduce a temporary measure that replicates part of the production set-up necessary to run tests. But we fear it is far from accurate and may cause problems due to differences with the production environment.

Instead, we need a continuous integration environment capable of running tests in a setup identical to our production environment, with minimal changes.

[2017-07-05 17:36] agathver opened #154 "Extract repository metrics from git hosting provider APIs"
Github and Gitlab provide extensive APIs to extract repository metadata, in addition to metrics such as issues and pull-requests that are helpful in determining the activity of a project.

The proposal is to augment the existing method of collecting repository metrics with git hosting provider specific APIs providing additional metrics.

- [x] GitHub ( #161  )
- [ ] GitLab

[2017-07-06 09:42] #148 closed

[2017-07-06 21:06] olofk opened #157 "Publish posts from planet LibreCores on twitter"
It could be handy and increase visibility if we can make the librecores twitter account automatically tweet whenever there's a new post on planet LibreCores.

[2017-07-07 06:25] wallento commented on #157
I see this ambivalent. On the one hand it is good to have more activity, on the other hand it can quickly become a spamming account. I feel we would be better off with either:

- something moderated
- a different account ("LibreCores Planet")

[2017-07-07 07:22] olofk commented on #157
I don't think this is an issue. There are about 10 posts each month. If it would turn out to be a problem, we can just turn it off

[2017-07-09 04:26] Agathver opened #158 "Grouping contributors using different email addresses and associating them with LibreCores account"
A single person can commit using any email address he uses. We could try grouping same names together too, however, it is not uncommon for two developers to have the same name.

Associating email addresses with LC account will allow us to consolidate such cases.

[2017-07-11 14:28] oleg-nenashev commented on #157
I would rather suggest a different account in longer-term. Fine for now

[2017-07-20 17:57] agathver opened #159 "Add a linter based on projects code-style"
To aid contributors and to lessen the burden while reviewing code, we should add a linter like [PHP_CodeSniffer](https://github.com/squizlabs/PHP_CodeSniffer). It can be made as a part of the CI.

In the discussions at Gitter, we decided that we would follow [Symfony Coding Standards](https://symfony.com/doc/current/contributing/code/standards.html) with some modifications:
1. We will follow PSR-2

[2017-07-20 17:58] imphil commented on #159
Thanks for the concise summary Amitosh.

[2017-07-25 10:51] #80 closed

[2017-07-25 11:29] imphil opened #160 "Only fetch basic data on first project import"
Currently, we do a full crawling of all repository data when a new project is created. This leads to long wait times before the project will be first shown on LibreCores.

We should improve that waiting time by getting only basic information from the repository in a first step (such as README and LICENSE), and fetch the more sophisticated metrics later.

[2017-07-27 19:55] agathver opened #162 "Colors not having enough contrast"
Colors in some pages have very low constrast and are not properly visible to certain people.

People will less than average contrast sensitivity will not be able to distuinguish between headers or read the prpject info present on the right.
We should design the frontend keeping accessibility in mind as should try to adhere to [WCAG 2.0](https://www.w3.org/TR/WCAG20/)

[2017-08-03 12:12] imphil opened #163 "Error: Could not convert database value "" to Doctrine Type array"
We get the following error when requesting https://www.stage.librecores.org/project/list on staging:

[code]

It seems a database migration is missing/wrong?

[2017-08-03 12:15] imphil commented on #163
Switched staging to dev mode, a full stack trace is now available at the given URL.

[2017-08-03 12:16] imphil commented on #163
[code]

[2017-08-03 12:26] imphil commented on #163
@agathver is this something you could have a look at? I sent you the DB dump for reproducing the issue via mail.

[2017-08-06 19:27] agathver commented on #163
@imphil I think I have a working fix right now, opening a PR, please review. The solution is sort of hackish.

[2017-08-07 19:17] #163 closed

[2017-08-09 12:38] agathver opened #165 "Calculate a combined score of all metrics"
For aiding the user and for search ranking, we need to have a combined metric of a project based on individual metrics about code-quality.

In the mailing list, we had a [discussion](https://lists.librecores.org/pipermail/discussion/2017-August/000378.html) about the formula used for ranking the metrics. Here is the summary:

- +1 for a Git repository -1 if not
- +2 for link to issue tracker -1 if

[2017-08-14 14:57] agathver opened #166 "Importing project from Github fails in some cases"
I've experienced this issue while importing org projects.

The error page, in dev mode shows. `Not found`. I guess, this might be due to GitHub returning 404 on one of the API calls during adding web-hooks.

[2017-08-25 17:54] agathver opened #171 "Improve appearance in mobiles"
Text and images in LibreCores.org in mobiles appear very tiny. It makes content difficult to read.

[2017-08-25 18:06] agathver commented on #171
![screenshot_20170825-232634](https://user-images.githubusercontent.com/16816719/29726504-7d7fa6f2-89bf-11e7-92ee-af55455ed045.png)

Screen 720 x 1280 (312ppi/3dppx)

[2017-08-26 19:45] agathver opened #174 "Declutter "Datasheet" in project page"
Currently the data sheet is housing all metrics extracted from the repositories. We should only display prioritized metrics and move the rest into a separate "Project metrics" tab,

[2017-08-28 13:49] #171 closed

[2017-08-29 13:08] agathver opened #175 "Show factoids for project metrics."
In order to explain the real meaning of the values and trends of project activity, we should display factoids about the project based on the values of the project.

An example can be found here: https://www.openhub.net/p/gnome/factoids

[2017-08-30 18:29] #174 closed

[2017-09-08 10:13] imphil opened #177 "5/5 stars shows 7 stars"
An image is better than thousand words.

![grafik](https://user-images.githubusercontent.com/1467123/30207190-f2823828-948e-11e7-94fe-087edf599690.png)

as seen on https://www.librecores.org/olofk/FuseSoC

[2017-09-08 17:47] agathver commented on #177
Oh! This is embarrassing :/ Sending a fix soon

[2017-09-08 20:38] imphil commented on #177
Actually that's a good thing, we should make sure that @olofk doesn't get too much credit for his work :)

[2017-09-14 17:27] wallento opened #178 "Add help to "We have not analyzed this project yet""
Hi,

it would be useful to show a small question mark next to this text too and maybe have a popup thingy explaining what it means and why.

Cheers

[2017-09-14 17:34] wallento opened #179 "Sort project listing by "last updated""
It would be great to have this one sorted by "last updated": https://www.librecores.org/project/list

[2017-09-15 17:37] agathver commented on #179
Can we also add a dropdown to sort by lastUpdated or score or any other factor ?

[2017-09-15 19:15] wallento commented on #179
Oh, yeah, that would be even better, either as dropdown as you suggest or as links.

[2017-09-23 19:33] olofk opened #184 "Set initial keyboard focus to search box"
Title says it all

[2017-09-24 04:19] agathver opened #185 "Using Sentry for tracking errors in production"
[Sentry](https://sentry.io) is an error tracking tool, that collects errors in a dashboard.

Since, we do not have enough tests and unexpected things happen in production, it takes time to discover those hidden bugs. It will help us to track them down.

It's ridiculously easy to setup and integrate with Symfony. Integrates with Github to report issues automatically. Supports separate environments

[2017-09-24 08:35] wallento commented on #162
That would be great. I am color deficient and struggle too with it.

[2017-09-24 08:38] wallento commented on #185
Excellent initiative! I think it addresses a very important issue. Can we kick it off by integrating it in a PoC? I have created an account and suppose the credential ("DSN") is something to be kept secret. We would need to write it to `app/config/config.xml` using ansible, right?

[2017-09-24 08:44] wallento commented on #185
Okay, I had a look at it. Its so simple, even I could do it, hence assigned to me

[2017-09-24 12:22] agathver commented on #185
A part of the key may be embedded in client side JavaScript for frontend error tracking too. But since we do not use much JS yet, we can skip configuring that.

Yes, but only on prod setups. Leave the DSN key defined as a blank value on dev setups, which disables Sentry. Else, all kinds of errors will flood the notification channel!

[2017-09-24 17:54] wallento commented on #185
Thanks, I found there is a public DSN for browser stuff. Looks good, very helpful tool!

[2017-09-25 10:49] olofk opened #188 "Import from github only shows ~100 repos"
Through my different organizations I track ~900 different repos. Only the 104 first of these (seemingly random selection) appear in the dropdown for importing projects from github. It was confirmed by @wallento that this problem starts to appear when the number of repos reach a certain threshold (~100?)

[2017-09-25 11:20] wallento commented on #188
I just had a brief peek into the php library and 100 is the standard pagination size. So maybe @olofk miscounted and we just have to get all pages.

[2017-09-25 11:20] wallento commented on #188
https://github.com/KnpLabs/php-github-api/blob/master/lib/Github/ResultPager.php#L79

[2017-09-25 12:10] olofk commented on #188
Ah, right. I was probably counting in base 9.6 instead of base 10. I do that sometimes

[2017-09-25 12:19] agathver commented on #188
@wallento Doing that in the server-side will have a huge impact on the load time of the page.

[2017-09-25 12:38] wallento commented on #188
@agathver yeah, it is also questionable how valuable a 760 entry dropdown menu is..

[2017-09-26 06:01] wallento commented on #47
I like the idea of Algolia. Due to its very low complexity we should probably use this and make a custom search engine a lower priority for the future if needed.

[2017-09-26 06:37] redox commented on #47
Hey @agathver @wallento, Sylvain from Algolia jumping in :) We're happy providing open-source projects extended quotas so should you need more records/operations than our COMMUNITY (free) plan, just [let us know](https://www.algolia.com/for-open-source).

Also, Algolia is now powering the search of Packagist, did you give it a try?

[2017-09-26 08:25] wallento commented on #47
Thanks, @redox, also for pointing out that Packagist switched to Algolia too.

[2017-09-26 08:48] wallento commented on #188
The best solution for now seems that we just display a free text input for users that have multiple pages.

[2017-09-26 10:18] eliaskousk commented on #47
I also like Algolia since I learned them from their integration in the
official Symfony docs. Let's give it a try.

On Tue, Sep 26, 2017 at 11:25 AM Stefan Wallentowitz <
notifications@github.com> wrote:

[2017-09-26 11:26] wallento commented on #47
Awesome. I have done the basic setup and will push it to a PR soon. I am not too good at the frontend stuff but have the impression its not too hard to work out. Anyone can have a take on this?

[2017-09-26 11:36] agathver commented on #47
@wallento You can assign the frontend work to me

[2017-09-26 11:37] wallento commented on #47
Awesome, thanks @agathver!

[2017-09-26 18:16] agathver opened #190 "Error in showing last project activity in search results"
Last activity is not shown in search results

[2017-09-28 13:22] agathver opened #192 "Password resets"
We would like to have proper password reset emails. We use [FOSUserBundle which provides logic and starter templates](http://symfony.com/doc/master/bundles/FOSUserBundle/emails.html) for password reset.

However, the UI needs to match the design of LibreCores.org

[2017-09-28 14:11] eliaskousk commented on #192
I have been assigned the relevant FOS user bundle improvements
(registrations, lost password etc) a couple of months or more ago but
unfortunately I still haven't found time to complete them. I'll try harder
to find the time so give me until next month and if I don't deliver by all
means let's assign this to someone else!

On Thu, Sep 28, 2017 at 4:23 PM Amitosh Swain Mahapatra <
notifications@git

[2017-09-28 14:19] wallento commented on #192
Hi @eliaskousk,

the idea is to have a few simpler sub-tasks for hacktoberfest. Do you think this is not separable from your work?

Cheers,
Stefan

[2017-09-28 15:12] eliaskousk commented on #192
This should be simple enough to get down over this weekend. I'll take a
look and let you know.

On Thu, Sep 28, 2017 at 5:19 PM Stefan Wallentowitz <
notifications@github.com> wrote:

[2017-09-29 02:48] agathver commented on #192
Hi @eliaskousk

Oh! I wasn't aware of that.

The aim here is to put up simple tasks so that we can get new contributors. Since we know the way around the source code, we should concentrate on more complex tasks.

[2017-09-29 02:53] agathver commented on #18
I think we can use Jekyll-like front-matter content for markdown to specify the title

[2017-09-29 08:55] eliaskousk commented on #192
Hi @agathver,

since you recent very good work I think I belong to this category haha :)
Seriously though I'll take a look at it and see if I can handle it or not (due to me being terrible on frontend work).

[2017-10-05 23:31] scarecrow21 commented on #192
Hi. I'm a newbie here. Will someone guide me through solving this?

[2017-10-05 23:35] scarecrow21 commented on #139
Hi. I'd like to solve this issue. Please tell me how to go about it.

[2017-10-06 06:12] agathver commented on #139
Hi @scarecrow21
Please take a look at http://librecores-web.readthedocs.io/en/latest/ on how to get started with a working development environment.

You need to edit the project settings template to add a dialog box. Add a controller action to delete the project which performs the required DB calls. You need to delete the linked source repo and the project. ( I think we have a ON DELETE CASCADE, b

[2017-10-08 04:59] agathver commented on #108
@imphil It can be more aesthetically pleasing, if we rename /static to /site

[2017-10-10 18:31] #177 closed

[2017-10-10 18:37] #190 closed

[2017-10-10 22:07] imphil commented on #184
closed in 69a2d59

[2017-10-10 22:07] #184 closed

[2017-10-13 21:44] imphil opened #195 "Update service definitions to use new service IDs"
To make sure our code base stays up to date with best practices, we should switch our Symfony services to use the currently available features.

Follow these guides:
- https://knpuniversity.com/screencast/symfony-3.3/class-ids
- https://knpuniversity.com/screencast/symfony-3.3/private-services
- https://knpuniversity.com/screencast/symfony-3.3/auto-register-services
- https://knpuniversity.com/scr

[2017-10-14 16:50] imphil commented on #185
Deployed to production and staging

[2017-10-14 16:50] #185 closed

[2017-10-14 16:55] imphil commented on #154
Let's close this for now as github is implemented and working. We can revisit gitlab support if there's a need for it from our users.

[2017-10-14 16:55] #154 closed

[2017-10-14 17:02] agathver opened #196 "Provide ability to search the list of github repos to add"
While adding a new project from GitHub, it is cumbersome to find a repository to add, if the user has considerable number of GitHub repositories (some of us have several hundred!).

I propose to use something like [this](https://silviomoreto.github.io/bootstrap-select/examples/#live-search).

[2017-10-22 21:33] Fatsie opened #197 "Add Chips4Makers blog to Planet LibreCores"
I created a new blog for Chips4Makers: https://chips4makers.io/blog
I would like to ask to add it to the list of blog sources for Planet LibreCores
Looking at planet/config.ini I think this can be done by adding the following:

[code]

[2017-10-23 08:33] imphil commented on #197
We're happy to add your blog to the planet. Could you open a pull request for this change? If you have trouble with that let me know, and we can handle it.

[2017-10-23 18:12] Fatsie commented on #197
Done. I first did not go for a pull request as I don't proper setup for testing.

[2017-10-23 18:12] #197 closed

[2017-11-13 11:49] imphil opened #201 "New Project: Don't fail with SQL exception if gitSourceRepoUrl is unset"
See https://sentry.io/librecores/symfony2/issues/403723410/ for a full stack trace.

[2017-11-13 11:50] imphil opened #202 "Don't use strict => false in ChoiceValidator"
Fix deprecation warning: Setting the strict option of the Choice constraint to false is deprecated since version 3.2 and will be removed in 4.0.

[2017-11-13 15:25] agathver commented on #201
URL is null, are we allowing that ?

[2017-11-13 16:55] imphil commented on #201
We shouldn't, but somehow the validation seemed to miss this. I didn't take a closer look at the code yet, however.

[2017-11-23 06:53] annika1 commented on #195
Hey Philipp,
I would like to work on this issue. I guess the best idea is to go though the tutorial to symphony3.3 you have linked above?

[2017-11-23 07:58] imphil commented on #195
Annika, great to see you join! You first need to set up a development environment, however. That's documented here: http://librecores-web.readthedocs.io/en/latest/devenv/quickstart.html  Let me know if you face any problems during this first step.

As next steps, as you said, follow the tutorial linked above (and just move on to the next chapters). It's probably best to start with the first (class

[2017-11-23 08:04] annika1 commented on #195
I have already set up the development environment and can access the development page http://www.librecores.devel, therefore I will start now with the tutorial and the chapter to class-ids. I let you know, when problems come up.

[2017-12-03 14:14] imphil commented on #201
Seems like we don't validate the URL field properly.

STR
- Click on "new project"
- Enter display name and short name
- Choose "other git repository"
- Leave the URL field empty, click on "Create Project from git repository"

I'm looking into it for a fix.

[2017-12-05 21:12] librecores-sentry commented on #201
https://sentry.io/librecores/symfony2/issues/403723410/

[2017-12-05 21:33] imphil commented on #202
No idea where that error came from in a sentry report, no code of ours uses this flag explicitly. Closing until it reappears.

[2017-12-05 21:33] #202 closed

[2018-01-04 13:09] imphil opened #206 "Investigate why JoachimS/cmac-aes has only 1 star"
https://www.librecores.org/JoachimS/cmac-aes (and other projects by this user) look like very well documented and coded projects. What causes our metrics to award only 1 star?

- Issue tracker and other URLs are missing. Probably the user didn't import from GitHub through the API but entered the URL manually and in this case we don't auto-detect the appropriate URLs for issue tracker and github we

[2018-01-04 14:45] agathver commented on #206
URLs are a major factor. And I think, we probably need to revisit the section of code calculating the scores.
Another factor for such a low score might be due to the fact that there is only a single contributor to the projects.

[2018-02-06 16:06] mayank1495 opened #207 "Error running Vagrant up"
May be some changes in Vagrant broke the fetching of the box.
The error can be found here: [https://pastebin.com/8tnDc88n](https://pastebin.com/8tnDc88n)

[2018-02-06 16:23] imphil commented on #207
I've updated the boostrap file to a newer version of Vagrant. Could you please pull the current master and run the bootstrap script again?

[2018-02-06 19:33] mayank1495 commented on #207
I did. After running ./bootstrap-dev.sh ,It downloads the required files and then there's a new error:

[code]

[2018-02-06 21:38] imphil commented on #207
According to the error message this looks like a temporary error in connectivity. Did you try again a bit later and is the mentioned url reachable for you?

[2018-02-06 22:21] mayank1495 commented on #207
Yes i tried multiple times but same error. From my browser I am able to access that url.

[2018-02-08 12:11] imphil commented on #207
What you're seeing is/was either an infrastructure issue at the Vagrant side or a problem with your Internet connectivity. There are reports (e.g. https://github.com/hashicorp/vagrant/issues/8795) that this might be caused by broken IPv6 support, so trying to disable it might do the trick.

You can get more (possibly helpful) debugging output by running
[code]

Unfortunately, there's not much I ca

[2018-02-08 12:50] agathver commented on #207
@mayank1495 If you are on Jio, it's IP6 network to vagrant servers was not working since a while ago. I had to use a VPN or use another network.

[2018-02-09 18:51] mayank1495 commented on #207
Yes my bad. There was some network issue I guess. I am on to starting the development server by downloading the virtual box. I guess it will run fine after that.
Thank you.

[2018-02-13 17:41] #207 closed

[2018-02-20 05:51] sandipbhuyan commented on #192
Is it ope?. I want to work on this.

[2018-02-20 06:44] agathver commented on #192
// cc @eliaskousk

[2018-02-20 07:52] imphil commented on #192
@sandipbhuyan this is mostly resolved in PR https://github.com/librecores/librecores-web/pull/193. However, in order to merge this we first need a verified e-mail address from the user. Would that be something for you to work on? There is more discussion on that in https://github.com/librecores/librecores-web/issues/142

[2018-02-22 02:30] eliaskousk commented on #192
@imphil Is the plan for the AWS e-mail service still on? Let me know if I can somehow help with this. I'll take a look at the other issues as well and see if there is anything urgent.

[2018-02-24 12:11] imphil commented on #192
@eliaskousk yes, the plan is to use AWS email for such transactional mail. Probably the most simple route is simply setting up swiftmail using their SMTP servers

[2018-02-24 17:02] sandipbhuyan commented on #192
I have raised a PR for email verification process. For reseting the password FOSUserBundler have some predefined  functionality. We can modify the UI also  by overriding the default pages. @imphil   I am looking forward to resolve this Issue.

[2018-02-24 18:42] agathver opened #209 "Upgrade Symfony to 3.4"
We are still on Symfony 3.3, which is currently unsupported. We should update to 3.4 as soon as possible.

We don't use any deprecated APIs, so migration should be painless.

[2018-02-26 14:17] #209 closed

[2018-02-27 09:53] sandipbhuyan commented on #196
@agathver I am workin on this task. Up for finishing it very soon.

[2018-03-01 16:22] sandipbhuyan commented on #196
@agathver Bootstrap select has its own css and js,  can I add it to the project?

[2018-03-01 17:46] agathver commented on #196
@sandipbhuyan Absolutely

[2018-03-01 22:20] imphil opened #210 "Styling and Content of page after email is verified"
Currently we show the following screen after users click on the "verify email address" link in their inbox:

![grafik](https://user-images.githubusercontent.com/1467123/36872839-f2a8cb22-1da6-11e8-9f62-a9c120530007.png)

Can we
- make the styling a bit nicer so that the content isn't crammed into the top corner?
- add a bit more useful content, e.g. how to get started (add projects, browse through

[2018-03-01 22:51] #142 closed

[2018-03-01 22:58] imphil opened #211 "Re-confirm email address if a user changes it"
If a user changes his email address the new address must be validated again.

Possible approach: https://blog.intelligentbee.com/2015/08/24/how-to-enable-email-confirmation-on-fosuserbundle-profile-edit/

[2018-03-01 22:59] imphil opened #212 "Add a way to re-send confirmation link"
If users register on LibreCores they are sent an email with a link to confirm their email address. The UI should provide a way to re-send this confirmation link.

[2018-03-02 02:20] sandipbhuyan commented on #210
@imphil assign me this task. I want a demo layout of the content or a brief description of the content. I will be working on this after my next PR.

[2018-03-02 10:54] imphil opened #214 "Fix spaces in error messages during account creation"
There seem to be some spaces missing:

![image](https://user-images.githubusercontent.com/1467123/36893141-3aef7772-1e07-11e8-9e97-4ff4397888ca.png)

[2018-03-06 12:32] #196 closed

[2018-03-06 12:32] #214 closed

[2018-03-06 14:36] sandipbhuyan opened #215 "Make a dashboard page to render after login of a user"
In the present version of librecores after login the user is being redirected to the home page of the application.
- I purpose a dashboard page should be there that will contain the basic information of a user(i.e no of
 projects, current activity of user in past days, no of user viewed user's profile etc).

[2018-03-06 14:43] agathver commented on #215
We don't track anything on LibreCores now, so you will need to implement the tracking too :wink:

[2018-03-08 20:41] sandipbhuyan commented on #211
@imphil I think the application doesn't have the facility to change the email address. So one issue should be created to add that feature.

[2018-03-08 23:36] eliaskousk commented on #211
@sandipbhuyan We do have this facility with fos user bundle.
Currently the route is `domain/profile/edit` and it will be changed to `user/profile/edit` once #193 is merged.

This issue should be tied to that PR which I will rename to 'E-Mail & Password Reset'.

[2018-03-09 04:19] sandipbhuyan commented on #211
@eliaskousk I am getting that page when I am entering the route in the url. My question is, is there any way to go to that link from the UI?

[2018-03-09 10:53] eliaskousk commented on #211
@sandipbhuyan I see your point and you are right we don't have a link to the profile edit on the current UI. This probably has to do with the fact that we use a [user profile settings](https://www.librecores.org/user/settings/profile) page for such stuff and not the `domain/profile/` routes from fos user bundle.

Thus instead of activating / renaming the `domain/profile` route/s we should  actuall

[2018-03-09 13:44] sandipbhuyan commented on #211
@eliaskousk would I create a Issue for that?

[2018-03-09 14:44] imphil opened #218 "Setup LibreCores blog"
For our upcoming newsletter (at least) we need a blog on LibreCores. We already have a disabled wordpress installation in our tree, but I'm not convinced that's the best way forward.

Options:
1. Use wordpress and theme it to match LibreCores
1. Integrate a Symfony-based blog solution like sonata news.
1. Go for a static site generator with blog support, e.g. Jekyll.

Maintaining the wordpress ins

[2018-03-09 15:02] agathver commented on #218
Use medium? It has a wider audience.

[2018-03-09 21:01] eliaskousk commented on #211
@sandipbhuyan thanks, but let me first work on #193 during the weekend because I may address this there instead of opening a new issue. @imphil what do you think?

[2018-03-09 21:59] olofk commented on #218
I'm not directly involved with the infrastructure, but as a potential future blog author, I'd say a static blog generator from markdown or similar works fine for me

[2018-03-11 08:55] imphil commented on #211
@eliaskousk sounds good, I think both approaches would work.

Back to this bug: There seems to be some movement on the FOSUserBundle side to get the re-validation of emails feature into upstream, but these efforts seems to have failed for now.  PR with the code changes (reverted in https://github.com/FriendsOfSymfony/FOSUserBundle/pull/2731): https://github.com/FriendsOfSymfony/FOSUserBundle/pull/

[2018-03-11 09:15] agathver opened #219 "Migrating to Symfony 4"
Symfony 4 is the next major version of Symfony. We should make a roadmap for upgrading to take advantage of new features and performance improvements.

http://symfony.com/doc/current/setup/upgrade_major.html
http://symfony.com/doc/current/setup/flex.html#upgrading-existing-applications-to-flex

While it's certainly not a trivial task, we have time until 2021 to do this.
Assetic will also need chan

[2018-03-11 10:29] imphil commented on #219
Most of the work required to migrate to Symfony 4 (and optionally to Flex) is started in #195 by @annika1. So the first step would be to complete this work, and then migrating to Symfony 4 should actually be not that much work. (Depending on if we decide to move to Symfony Flex or not.)

[2018-03-11 11:32] imphil commented on #219
Fantastic! Let me know if you get stuck somewhere.

[2018-03-11 11:58] agathver commented on #188
@wallento Now that we have made the dropdown searchable, we can implement the code to add hundreds of options.

[2018-03-11 12:23] imphil commented on #218
I took for now the easiest (and for me most interesting, since new) route of creating a "publication" on Medium (as blogs are called there). So we have https://medium.com/librecores for now with basic "styling". I decided to go for a "LibreCores" account instead of an El Correo Libre one, as we'd like to get content wider than just the monthly newsletter out there (and stories can appear only in o

[2018-03-11 12:33] agathver commented on #218
They used to provide a custom domains option, looks like they don't provide since November 17.

[2018-03-11 13:00] imphil commented on #218
No, custom domains don't exist any more at Medium. But I don't think that makes a huge difference.

[2018-03-11 13:32] wallento commented on #188
thats great! Isn't this problem solved then?

[2018-03-11 15:18] agathver commented on #188
No, just client side part done, need to move the repo fetching code to the client side, if possible

[2018-03-11 18:28] imphil opened #220 "Better handle GitHub API 404 errors"
See https://sentry.io/librecores/symfony2/issues/488100698/

We get an Github\Exception\RuntimeException in src/Librecores/ProjectRepoBundle/Util/GithubApiService.php in installHook at line 227

In this line we're trying to create a webhook for a repository (API documentation: https://developer.github.com/v3/repos/hooks/#create-a-hook). It's not quite clear where the 404 error comes from, but most

[2018-03-12 01:05] agathver commented on #220
Just opened Add project, couldn't see that dropdown. It threw an error when I was switching to other tabs.

Do we have sentry enabled at the staging?

[2018-03-12 08:43] imphil commented on #220
Yes, sentry is enabled in staging.

[2018-03-12 20:31] imphil opened #221 "Enable users to subscribe to our newsletter in the profile"
In order to give people a chance to subscribe to the monthly LibreCores newsletter we need an option to subscribe in the LibreCores profile UI. Requires interaction with the MailChimp API.

[2018-03-12 20:32] agathver commented on #221
Are we using mailchimp? I was under the impression we are using SES ?

[2018-03-12 20:33] imphil commented on #221
I'm talking about the newsletter here (aka mass mailing), which is indeed handled by mailchimp.

[2018-03-16 09:48] lakhanshiva commented on #61
Hi imphil,
I would like to take up this task. I will put up the required details on the site.

[2018-03-27 20:02] imphil opened #223 "Footer broke design on project settings"
See this picture. Most likely some kind of clearfix missing.

![grafik](https://user-images.githubusercontent.com/1467123/37991820-7ac18d1a-320a-11e8-80ff-c61cb322bcad.png)

[2018-04-01 08:14] sandipbhuyan commented on #223
This image is not showing the actual bug. I think we need to change the style of the footer
![screen shot 2018-04-01 at 1 43 19 pm](https://user-images.githubusercontent.com/18291428/38171217-ad3b8f92-35b2-11e8-8564-7f194c469761.png)

I am working on it and soon will raise a PR

[2018-04-03 08:57] imphil commented on #223
PR #224 broke the page a bit differently. Most likely only one div is needed and the placement is wrong. Reverted in eee9cefc787802c067d10d1054c0c47b2b089810

![grafik](https://user-images.githubusercontent.com/1467123/38239635-96440194-372d-11e8-9c4e-dd6e2b4ed3b0.png)

[2018-04-03 13:52] sandipbhuyan commented on #223
Actually, two `div`'s closing tags were missed one for `row` class and another for one column tag (col-sm-10). I may be closed those `div` at wrong place I am rectifying my error soon.

[2018-04-06 04:33] lakhanshiva commented on #178
I have started to work on this commit. I think you should take a look at the pull request i have created referencing this issue..

[2018-04-06 14:35] lakhanshiva commented on #61
Hi Philip,
Does this need to go on this page.. https://www.librecores.org/static/community-hub ?

[2018-04-07 09:31] lakhanshiva commented on #139
The interface is ready, it functions similar to Github's delete repository feature. When the entered text matches the project's display name, it lets the user delete the project.
It is added to the above PR #227
Find a screenshot below.
![delete_project](https://user-images.githubusercontent.com/4762264/38453502-7962dc7c-3a74-11e8-802c-20fb3e9d7d2a.png)

[2018-04-08 01:14] sandipbhuyan commented on #212
i think I can resolve this issue.
My approach is to make a separate page with separate route where the user can only enter his email to get its confirmation link again if the user haven't got it.

[2018-05-02 06:27] #223 closed

[2018-05-02 06:28] #218 closed

[2018-05-02 11:47] sandipbhuyan commented on #41
Hello, I am going to work on this project this summer as this project is a part of my proposal of GSoC 2018. As @imphil described above the classification structure will be having a tree-type hierarchical structure and the project will be classified into categories by [faceted classification](https://en.wikipedia.org/wiki/Faceted_classification) and according to me the implementation of the struct

[2018-05-03 08:20] sandipbhuyan opened #230 "[GSoC] Classification System"
This issue is a meta-issue of #41

The Classification system is a system in which the the IP Cores are being classified into categories.
IP Cores will be classified in [Faceted classification](https://en.wikipedia.org/wiki/Faceted_classification)

## **Rough Design Description:**

- IP Cores are classified in a [Faceted classification](https://en.wikipedia.org/wiki/Faceted_classification)
- Every

[2018-05-03 09:10] sandipbhuyan opened #231 "[GSoC] Improve the LibreCores.org in terms of discoverability"
Here is the list of thing I would be working on during GSoC 2018. I
I will update this thing as I progress with the coding.

## First Evaluation

- [x] Representation of Classification System
- [x] Extending the database schema
- [x] Adding and updating categories in IP Cores
- [x] Unit Test and integration with UI

## Second Evaluation

- [x] Searching of IP Cores from Categories
- [x] Search eng

[2018-05-03 09:50] sandipbhuyan opened #232 "[GSoC] Extension of database Schema for classification system"
In the classification system #230 Extension of database schema needed to be done for two things

- [x] Storing base categories
- [x] storing classification categories for IP Cores
- [x] making fixtures for inserting data to classificaiton table

In the  Storing base-categories are to be stored. Adding, updating and deletion of base-categories are to be done, as the number of base-categories doesn'

[2018-05-03 15:18] sandipbhuyan opened #233 "[GSoC] UI for Classification system and Search Engine Implementation"
As Described in #231 The User Interface part is to be done for both Classification system #230  and Search Engine Implementation #47.
## **Classification System**

- [x] Specifying categories for classification system
- [x] Updation of faceted classification
- [x] Search result page for classification system
- [x] Add categories to project

## **Search Engine**

- [x] Search Engine page
- [x] Sear

[2018-05-16 20:07] imphil opened #235 "Initial classification hierarchy"
As discussed I've taken a bit of time to create an initial classification hierarchy for LibreCores. I'm not sure yet where we'll hit a sweet spot between details and abstraction. Unless someone has strong objections, let's go with that one and improve on it over time.

The format follows pypi (https://pypi.org/classifiers/).

[code]

Weak spots currently:
- I clearly have very little knowledge abo

[2018-05-29 16:30] imphil opened #237 "Add Sandip's blog to LibreCores Planet"
Either https://medium.com/@sandipbhuyan  or http://sandipbhuyan.com/

@sandipbhuyan do you have a RSS/Atom feed for one blog, ideally with a category/tag that contains mostly LibreCores related posts?

[2018-05-29 18:53] sandipbhuyan commented on #237
[sandipbhuyan.com](http://sandipbhuyan.com) will be good. RSS feed is not active on my blog as of now. By this weekend I will be adding it to the blog

[2018-06-04 06:55] sandipbhuyan opened #238 "Represent and Delete Classifications for a Project"
Project Classifications (#230) are the classifier for a project in LibreCores. The Insertion of the classification system is done in #236 Pull Request. This Issue aims to implement some basic feature after the project is being classified by its owner.
## Basic Features
- [x] Represent the classifications for a project
- [x] Delete a project classification

[2018-06-07 18:41] sandipbhuyan commented on #237
You can get RSS feeds of my blog from [Feeds](https://www.sandipbhuyan.com/feeds)
I have posted some blogs about status and weekly works and about the organization
-[Google Summer of code with FOSSi](https://www.sandipbhuyan.com/blog-content/4)
-[One week with FOSSi](https://www.sandipbhuyan.com/blog-content/5)
-[Project Classification system](https://www.sandipbhuyan.com/blog-content/8)
-[GSoC: W

[2018-06-07 19:03] agathver commented on #237
`https://www.sandipbhuyan.com/feeds` Looks okay to me.

Do you have a filtered feed? Like:
`/feed/tag/gsoc`?

Please make a PR by adding your link to this file:
https://github.com/librecores/librecores-web/blob/master/planet/config.ini

[2018-06-11 08:53] #159 closed

[2018-06-18 17:34] sandipbhuyan opened #242 "Search Engine Implementation"
This issue deals with implementation of the search engine in LibreCores.org as described in #231
## Tasks
- [x] Install Algolia
- [x] Index Project and Project Classifications
- [x] Implement autocomplete feature in the homepage
- [x] Implement instant search in browser project page
- [x] Searching through classifications
- [x] Search result display page
## Extended Task
- [x] Search display resul

[2018-06-22 10:07] sandipbhuyan opened #243 "Install Algolia and index the entity Project and ProjectClassification"
As described in #242 this issue aims to install Algolia in [LibreCores](https://www.librecores.org) and index the entity to make a better search experience.

[2018-07-03 10:39] sandipbhuyan opened #245 "Algolia instantsearch and autocomplete feature integration"
This Issue aims for the completion of algolia instantsearch and autocomplete feature.
As described in issue #242 This issue will keep track of the bellow features

- [x] Autocomplete feature
- [x] Insantsearch
- [x] Search Result

[2018-07-09 20:02] imphil commented on #243
Fixed in c784066b0a331724fefb2004285481b557d26d00

[2018-07-09 20:02] #243 closed

[2018-07-09 20:03] imphil commented on #238
That got merged.

[2018-07-09 20:03] #238 closed

[2018-07-09 20:04] imphil commented on #237
@sandipbhuyan could you please add a PR for this one to make your work during GSoC visible to a wider audience? Thanks!

[2018-07-09 20:04] imphil commented on #235
Seems like we got nobody to disagree (or care), this is now commited.

[2018-07-09 20:04] #235 closed

[2018-07-09 21:53] sandipbhuyan commented on #237
Sure I Have written more one blogs regarding my work improvement and soon writing one more blog regarding my experience and will raise a PR.

[2018-07-09 22:05] sandipbhuyan opened #247 "Search Through classifications"
This feature is to implement search functionality through classifications. The user will have the classification hierarchy and he can search through the projects related to the classifications.

## Overview
- [x] Classification hierarchy
- [x] Searching through the classifications

I have done some work on this feature and I have opened this issue for the discussion process to make a better user i

[2018-07-25 01:03] juliusbaxter commented on #192
Hi all, any progress on this? It seems to me the facility is still missing from the site.

[2018-07-25 12:05] imphil opened #248 "Add "Search by Algolia" information below search results"
According to the rules of the community/open source plan of Algolia we need to display the following information:

[code]

(Please serve the image as part of our own assets.)

[2018-07-25 12:16] imphil opened #249 "Make Algolia Index prefix configurable"
Algolia creates indices in a namespace created by a prefix. Since we have a single account for staging and production indices we need to configure this prefix based on a setting in Ansible. This means:

1. Create a key `algolia_prefix` in ansible/vars for the individual environments. Set to staging, production and dev for the respective types of nodes.
2. Pass this parameter to the site/app/config

[2018-07-31 10:59] sandipbhuyan opened #251 "In production bootstarpselect.js is not working"
In [librecores.org](librecores.org) The select element that helps in selecting GitHub projects is not being shown as bootstrap-select.js is not working.

![screen shot 2018-07-31 at 4 27 03 pm](https://user-images.githubusercontent.com/18291428/43455854-e1956908-94de-11e8-8173-9e3f408f8a03.png)

[2018-08-01 09:39] imphil opened #252 "Make it possible to bypass Algolia in dev environment"
Currently the dev environment requires an Algolia setup. We should by default disable Algolia (and with it, of course, the search functionality) to make it easier for people to use the dev environment (signing up with Algolia, etc. is a significant barrier to entry for new developers.

- Add a config setting which disables algolia, and set it by default (e.g. a new option site_algolia_enabled in a

[2018-08-01 12:48] imphil opened #253 "Styling: Remove space after user-or-org in search results"
Currently the search results show a space after the user-or-org name component of a project. This space should go away.

![grafik](https://user-images.githubusercontent.com/1467123/43522488-d2c4d6aa-9599-11e8-8ba6-a8d5ca77d0c9.png)

[2018-08-01 12:50] imphil commented on #248
This image is now there, but not an asset, but included remotely. This needs to be made an asset. Please open a new PR for that.

[2018-08-01 12:57] imphil opened #254 "Algolia: Added categories are not sent to index"
When I add a category to a project the changes are not reflected in the Algolia index.

STR:
- Choose any project without classifications.
- Navigate to the project's settings page.
- Add a category, click on "update project"
- Verify that the classification is visible on the project page.
- Click on the classification on the project page.

Expected outcome:
- Algolia finds the projects with this

[2018-08-01 12:58] imphil commented on #254
Further information: Manually pushing the data to Algolia using "algolia:import" on the command line shows the information. So only the trigger seems to be missing.

[2018-08-01 13:01] imphil opened #255 "Algolia: Search for classification from search results includes HTML"
STR:
- Search for a project that has classifications assigned to it.
- The search results show the classifications as part of the result page.
  ![grafik](https://user-images.githubusercontent.com/1467123/43523097-9974ac5c-959b-11e8-8b19-34a2b31b8402.png)
- Click on the classification to trigger a new search

Expected result:
- Search results for this classification

Actual result:
Search string i

[2018-08-01 13:03] #242 closed

[2018-08-01 13:04] imphil commented on #249
Implemented and merged in 550622e1363cdf6b2c6fa564023f8d8ef1799140

[2018-08-01 13:04] #249 closed

[2018-08-01 13:04] imphil commented on #245
Merged in 550622e1363cdf6b2c6fa564023f8d8ef1799140

[2018-08-01 13:04] #245 closed

[2018-08-01 13:05] imphil commented on #47
Fixed using Algolia in 550622e1363cdf6b2c6fa564023f8d8ef1799140

[2018-08-01 13:05] #47 closed

[2018-08-01 13:05] imphil commented on #230
merged

[2018-08-01 13:05] #230 closed

[2018-08-01 13:06] #232 closed

[2018-08-01 13:06] #233 closed

[2018-08-01 13:07] imphil commented on #247
Should be there in 550622e1363cdf6b2c6fa564023f8d8ef1799140, bugs as they show up as new issue please.

[2018-08-01 13:07] #247 closed

[2018-08-01 14:54] #253 closed

[2018-08-01 17:00] sandipbhuyan commented on #254
At the current state when someone is updating the project then it will be getting updated in algolia's dashboard. I am checking this issue. I think it is taking some time for getting updated in algolia.

[2018-08-02 07:25] #255 closed

[2018-08-02 08:48] imphil opened #258 "Update to PHP 7.2"
PHP 7.2 should give us some performance benefits and should not cause major pain in upgrading ("famous last words").

[2018-08-02 08:56] imphil opened #259 "Push config to Algolia as part of Ansible deployment"
Currently the deployment to staging/production requires a manual step to push the config (and the index data optionally) to algolia. We need to figure out an ideally repeatable procedure to push the config and the index data (without clearing and re-indexing most likely).

[2018-08-02 09:05] imphil commented on #254
It does when changing other fields in addition to the categories. When *only changing the categories* (as in the STR above) an index update is not triggered.

[2018-08-02 09:16] imphil opened #260 "Add cache busting for CSS assets"
In staging I noticed that the app.css is not using cache-busting, causing changes to go unnoticed by browsers. Use https://symfony.com/doc/current/reference/configuration/framework.html#version and version_format to fix that before going to production.

[2018-08-02 16:40] sandipbhuyan commented on #254
Understood that is because classifications are from another entity. I am figuring out an appropriate solution for it.

[2018-08-03 08:13] agathver commented on #254
@sandipbhuyan Encapsulate proper association management rules: https://www.doctrine-project.org/projects/doctrine-orm/en/2.6/reference/working-with-associations.html#association-management-methods

This is because in https://github.com/librecores/librecores-web/blob/master/site/src/Librecores/ProjectRepoBundle/Controller/ProjectController.php#L270, you set a project to the newly created project cl

[2018-08-03 20:34] sandipbhuyan commented on #254
Thanks @agathver Not this thing is resolved

[2018-08-04 09:48] imphil opened #263 "Classification validation sometimes fails"
STR:
- Go to the settings page of any project
- Add the classification "Proven on::FPGA::Altera/Intel"
- Click on "Add classification"
- Click on "Update Project"

Result:
Error message " Invalid classifications - Proven on::FPGA::Altera/Intel "

Expected Result:
classification is added

@sandipbhuyan you mentioned this or a similar bug in the last call, but I didn't find an open issue.

[2018-08-04 10:30] imphil opened #264 "Update exercise/htmlpurifier-bundle to version 2.0"
Update the bundle `exercise/htmlpurifier-bundle` to version 2.0 (from 1.0). This requires some breaking changes to be fixed. More information on the new features here: https://github.com/Exercise/HTMLPurifierBundle/commit/5d96bbcb10ece97027e04a1de9f4ecb03b7beb53

[2018-08-04 10:37] imphil opened #265 "Fix relative date localisation: before -> ago"
Currently the search result page shows dates like "Updated 1 month before". This should be "Updated 1 month ago".

![grafik](https://user-images.githubusercontent.com/1467123/43675606-06a139fa-97e3-11e8-9719-dc670e6a3eab.png)

[2018-08-04 11:15] imphil opened #266 "Fix "cache:clear" in deployment"
When deploying to staging the cache:clear step does not succeed. The exactly involved classes and objects vary.

[code]

Sentry claims to be not responsible: https://github.com/getsentry/sentry-symfony/issues/149

[2018-08-04 11:26] imphil commented on #266
Somehow Symfony is getting the order or arguments passed to the ExceptionListener class wrong. Investigating.

[2018-08-04 11:57] imphil opened #267 "Git commit SHA should not be considered unique in Commit entity"
Currently I get on staging failures to crawl a project which has been added twice to LibreCores:

[code]

The underlying problem is that we assume commitId to be unique and use it as key. That's wrong for two reasons:
- Git SHA commit IDs are not guaranteed to be globally unique.
- Adding the same source repo to LibreCores multiple times is possible currently. There's also no clean way of preventi

[2018-08-04 11:58] imphil commented on #267
@agathver do you think you can find time to fix that?

[2018-08-04 12:29] imphil commented on #266
composer install was not using the Symfony "prod" environment (but the "dev" one). Fixed in 70aa162a9e75b8c519063e469140a37ff44a3305

[2018-08-04 12:29] #266 closed

[2018-08-04 12:33] imphil opened #268 "Multiple classifications displayed comma-separated in search results"
See https://www.stage.librecores.org/search?query=Target::FPGA::Xilinx::7%20series&type=projects

![grafik](https://user-images.githubusercontent.com/1467123/43676513-42963b12-97f3-11e8-8dc3-c81fd3e3483e.png)

I have not seen this before the latest composer update, which also included a minor update on Algolia. Maybe it's caused by that, maybe I just didn't see it before?

[2018-08-04 12:56] agathver commented on #267
Just removing the unique constraint should work.

@imphil I'm travelling from tomorrow. Will take a week before I can take a look at this issue.

[2018-08-04 12:57] imphil commented on #266
Sentry issue: [SYMFONY2-E](https://sentry.io/librecores/symfony2/issues/631171780/)

[2018-08-04 12:57] imphil commented on #266
Sentry issue: [SYMFONY2-A](https://sentry.io/librecores/symfony2/issues/629020373/)

[2018-08-04 13:52] #267 closed

[2018-08-04 18:40] imphil opened #269 "Styling: Gap between search box and dropdown on home page"
Currently there's a gap between the search box and the search results box. This should go, making it look like a normal "dropdown" box.

![grafik](https://user-images.githubusercontent.com/1467123/43679515-9d93f3c8-9826-11e8-860e-1489c3d0e7ad.png)

[2018-08-04 19:03] #251 closed

[2018-08-04 20:37] sandipbhuyan commented on #263
I am currently working on this bug And By tomorrow I will be submitting one PR on this.

[2018-08-04 20:40] sandipbhuyan commented on #268
I think there will be some problem while pushing the data into algolia

[2018-08-05 11:50] imphil opened #271 "Styling: Do not use same color for links and headlines"
Currently we use the same green for links and headlines, and provide no other indication for links (e.g. underlining). This is confusing, as it makes it unclear when something can be clicked on, and when it is only a headline.

[2018-08-05 11:55] imphil opened #272 "UI: Classification filtering"
Please have a look at the following screenshot:

![grafik](https://user-images.githubusercontent.com/1467123/43685588-01f7fa32-98b6-11e8-9ce7-e6fe7de53b08.png)

(Staging URL: https://www.stage.librecores.org/search?query=Tool%3A%3ASimulation%3A%3AVerilator&hierarchicalMenu%5BhierarchicalCategories.lvl0%5D%5B0%5D=Target&hierarchicalMenu%5BhierarchicalCategories.lvl0%5D%5B1%5D=FPGA&hierarchicalMenu%

[2018-08-05 11:58] imphil opened #273 "Classification search: Filtering to multiple classifications"
Currently we only support filtering the search results to a single classification. Ideally we can filter based on the AND combination of multiple classifications (e.g. "Proven on :: FPGA" AND "Tool :: Synthesis :: whatever".

@sandipbhuyan you said in a call this is currently not supported by Algolia, but will be in a future release. Do you have further information on that? (e.g. a post where this

[2018-08-05 13:04] agathver commented on #273
I think OR is supported too. I remember working on OR operators once

[2018-08-05 19:18] sandipbhuyan commented on #263
I have made some mistakes in my javascript that is why the code is being broken. Actually Prove on::FPGA has no child node.

[2018-08-06 10:53] imphil commented on #248
The image sources are here: https://www.algolia.com/press#resources

[2018-08-06 13:05] imphil commented on #273
I just noticed that Packagist already implements something like that (they also use Algolia): https://packagist.org/?query=asdf&tags=laravel~adf Look at the right column for their tags filtering.

[2018-08-06 16:43] #268 closed

[2018-08-06 16:43] #263 closed

[2018-08-26 17:55] sandipbhuyan opened #276 "Custom ranking configuration for projects in algolia"
Currently we are not configuring custom ranking in algolia, But we can use the quality matrix stars to rank the projects. According to that the search result will be displayed.
You can refer [Custom ranking algolia](https://www.algolia.com/doc/guides/ranking/custom-ranking/) to set projects ranking.

[2018-09-22 14:38] imphil opened #277 "Give users hints on the min. character length for project names"
Currently it just says "violation failed" when creating a new project.

[2018-09-22 14:54] imphil opened #278 "Ability to remove projects which are "in processing""
Currently projects which are stuck in "in procesing" can not be edited/deleted. We should time out processing at some point and give people access to the settings page.

[2018-09-22 14:54] imphil opened #279 "Processing hangs when two projects have the same git URL"
Processing never returns, no error message is logged on server side.

[2018-09-22 14:55] imphil opened #280 "Get multi-project import script ready"
It should be easy to import multiple git URLs easily, e.g. select multiple github repos in the import page.

[2018-09-22 14:57] imphil opened #281 "Make project metrics "actionable""
Don't give a only a score, but help people to achieve higher scores by giving actionable advice, e.g. "add a license file", "add a readme", etc.

[2018-09-22 14:57] imphil opened #282 "Disable stars until we have actionable help"
Until #281 is ready, disable stars.

[2018-10-06 18:43] Michael-Overall commented on #271
I can tweak this.

I'm guessing this could be changed in [librecores.css](https://github.com/librecores/librecores-web/blob/c83b1066aa80dbd15988bb53ca87995f7acf763f/site/web/assets/css/librecores.css) by tweaking the styling for links under divs that are part of the "ais-hierarchical-menu--item" class.

Would we want to just add underlines to the links to differentiate them from headings, or shoul

[2018-10-10 06:17] epekkar opened #284 "Project metrics update"
The project metrics should be updated automatically, but some projects seem to be stuck in the state they were when registered.

[2018-10-26 12:57] Nancy-Chauhan commented on #265
@imphil is this issue still open as I could see the changes on main site ?

[2018-10-26 13:34] agathver commented on #265
@Nancy-Chauhan This is certainly open. You can try to add proper translations if you are interested.

[2018-10-26 13:53] Nancy-Chauhan commented on #265
@agathver
![screenshot from 2018-10-26 19-18-57](https://user-images.githubusercontent.com/37153406/47570758-91b77600-d954-11e8-91e7-ae23ba3975d8.png)
 This issue is solved as it works on main site

[2018-10-29 10:01] imphil opened #285 "taichi-ishitani/tvip-axi is stuck at project update"
See https://www.librecores.org/taichi-ishitani/tvip-axi. Most likely related to a rabbitmq queue being stuck.

[2018-10-29 10:02] imphil commented on #265
This is a new bug with the code which is currently in master and deployed to staging, not yet to the main site. Please see https://www.stage.librecores.org/search?query=my-fusesoc-clone&type=projects

[2018-11-03 02:33] agathver opened #286 "Recursive rmdir should clean the children first"
The current implementation of `recursiveRmdir` is not as stable as the order of files returned by listdIr is undetermined. Fix it to iterate over children first using SPLFileSystemIterator

Stack trace from Sentry
---
https://sentry.io/librecores/symfony2/issues/697911654/

[code]

[2018-11-18 05:01] aquibbaig commented on #278
I would like to work on this issue

[2018-11-18 05:03] aquibbaig commented on #276
Can I work on this issue?

[2018-11-18 11:03] agathver commented on #278
@aquibbaig go ahead!

[2018-12-03 15:29] agathver opened #289 "Wrong or No README is picked up on adding a project"
See: https://www.stage.librecores.org/agathver/ec2pricing
The README should be https://github.com/agathver/ec2pricing/blob/master/README.md

https://www.stage.librecores.org/agathver/programming registered from
https://github.com/agathver/programming has a clearly defined README yet, some other file is picked.

[2019-01-02 14:14] sandipbhuyan opened #290 "A Stable Development Environment for Windows and Linux"
It has become a difficult task to set this project in windows and Linux Operating System. In .0. In some Linux System the environment is failing some times(Ubuntu 18.04, Linux mint). @agathver and @imphil  I think there will be certain issue on this topic you can refer it here. I think we should have a stable development environment for future.

[2019-01-03 09:43] #286 closed

[2019-01-03 09:43] #289 closed

[2019-01-03 11:04] imphil opened #291 "Anchors in README.md don't work"
See the TOC in https://www.librecores.org/drossi/ariane. We don't apply necessary markup to the headers for the anchors in the TOC to work.

[2019-01-03 11:05] imphil commented on #290
Sandip, can you provide more information on the specific problems you're facing? As it stands this bug is not actionable unfortunately.

[2019-01-03 11:06] imphil commented on #285
Fixed now.

[2019-01-03 11:06] #285 closed

[2019-01-03 12:53] imphil opened #292 "Switch away from assetic"
The symfony assetic bundle is being deprecated, the suggested replacement is Webpack Encore (https://symfony.com/doc/current/frontend.html). We should consider switching as well to give us (in addition to a maintained library) a more "standard" frontend experience and enable the use of frameworks like vue.js for some frontend pieces.

[2019-01-03 17:36] aquibbaig commented on #290
I am having the same problem while setting up the environment. Bootstrapping fails at the task Install dependencies through composer. (I use Ubuntu 18.04).

[2019-01-03 17:38] imphil commented on #290
Please give a full log output, information about your environment and other potentially relevant information.

[2019-01-05 16:38] aquibbaig commented on #290
![screenshot from 2019-01-05 22-04-50](https://user-images.githubusercontent.com/26324376/50726655-3664e980-1136-11e9-83a7-c8170e456a79.png)

I used sshfs as configuration, development environment finished successfully but it shows this error.

[2019-01-05 16:50] sandipbhuyan commented on #290
I have the same error it is occurring during the **installing dependencies through composer section**
I am going through the sshfs configuration section and one part of error is
![screenshot from 2019-01-06 03-45-37](https://user-images.githubusercontent.com/18291428/50726807-0e768580-1138-11e9-8242-96eaf16e9d71.png)

[2019-01-05 16:55] imphil commented on #290
So this looks like a sshfs issue with Vagrant. The default is NFS, did you try that?

[2019-01-06 03:57] aquibbaig commented on #290
![screenshot from 2019-01-06 09-25-19](https://user-images.githubusercontent.com/26324376/50731894-30522580-1195-11e9-9064-b87cb2278d99.png)

This is what happens while I'm using nfs

[2019-01-08 11:11] imphil commented on #290
"Temporary failure resolving archive.ubuntu.com." doesn't sound like a filesystem-related bug. You'd need to do a bit of debugging here on your own unfortunately, it looks like a connectivity/network issue, either (temporarily) on the host or between host and VM.

[2019-01-09 10:52] imphil opened #293 "Changing password doesn't work"
The password change functionality at https://www.librecores.org/user/settings/password seems to do nothing: clicking on "Change Password" reloads the page without any change, and without any log entry on production.

[2019-01-09 14:03] #293 closed

[2019-01-13 21:40] imphil opened #294 "Releases should sort by date, not by version number"
In the mor1kx project the 5.0-rc1 release is considered "newer" than the "5.0" release.

https://www.librecores.org/openrisc/mor1kx

![image](https://user-images.githubusercontent.com/1467123/51090969-c7ae0e80-177b-11e9-9600-789fb570ca75.png)

[2019-01-15 09:10] olofk commented on #294
Small note, it's not rc, but revision (some background here https://devmanual.gentoo.org/general-concepts/ebuild-revisions/index.html). Ideally, the projects themselves should not be tagged with -r labels. This is a packaging detail

[2019-01-15 09:13] wallento commented on #294
So, its like the .post releases in python, right? The ordering is correct in this case then.

[2019-01-15 09:15] olofk commented on #294
Yes, it's correct, but reading again I see what @imphil means. If it _had_ been rc, then it would be wrong order. Sorting by date makes more sense

[2019-01-15 09:17] imphil commented on #294
thinking about this again it seems that the order is actually right, otherwise the fpu one wouldn't be at the bottom. Closing for now.

[2019-01-15 09:17] #294 closed

[2019-01-15 09:39] wallento commented on #294
Anyhow, we should change it to using a patch version number instead for mor1kx..

[2019-01-15 10:04] agathver commented on #294
@imphil We already sort it by descending order of date: See https://github.com/librecores/librecores-web/blob/master/site/src/Librecores/ProjectRepoBundle/RepoCrawler/GitRepoCrawler.php#L408

[2019-01-15 10:06] agathver commented on #231
GSoC 2018 was a success!

[2019-01-15 10:06] #231 closed

[2019-01-18 16:54] agathver commented on #290
@imphil RabbitMQ has moved to packagecloud.io to host their binaries. Their URLs throw rate-limits randomly. This causes the ansible to fail.

[2019-01-18 17:08] agathver opened #296 "Using annotations instead of XML configuration"
Annotations reduce the context switching to find a method and its associated usage.

This is particularly helpful for validation rules and controllers. The code and its intent are described in the same file.

[2019-01-18 17:10] agathver commented on #296
[Symfony best practices](https://symfony.com/doc/current/best_practices/controllers.html) also advice using annotations.

[2019-01-18 17:23] agathver opened #297 "Fix ansible deprecations"
Ansible has changed the behavior of `apt` and now accepts multiple packages in a single command. The old way of running apt with `with_items` has been deprecated and is scheduled to be removed soon.

We have around 5-6 usages of apt with `with_items` we need to migrate them to the new syntax.

[2019-01-21 12:13] imphil commented on #297
Note that we have still users of Ubuntu 16.04, which comes with Ansible 2.0.

[2019-01-23 03:35] agathver commented on #297
Ansible team always recommends to use the official ansible PPA. It has more features and is kept updated. We can note that in our readme.

[2019-01-23 06:09] sandipbhuyan commented on #290
@imphil  and @agathver this change has resolved the issue.
I am closing this issue.
Thanks..

[2019-01-23 06:24] sandipbhuyan opened #300 "Add Algolia HierarchicalMenu configure documentation"
The Algolia Hierarchical menu setup documentation is missing from our project. I am assigning this to myself. After this it will be easier for the developer for setting up the dev environment.

[2019-02-05 16:03] agathver commented on #276
It actually makes sense to perform rank calculation after project update is completed in one of the `RepoCrawler`s. You can extract the logic into a `Service` and call it after `updateRepository()` is run, and update the project entity with the score.

[2019-02-07 11:45] agathver commented on #276
Algolia should be updated whenever we do a flush()

[2019-02-07 15:34] sandipbhuyan commented on #276
@agathver Can we find any other way to set the ranking. Cause if we are pushing the data to algolia when the project is being inserted into the database then we cannot add custom ranking to the existing projects. I think we can make a ranking calculation from the attributes which can be accessed by the project entity.

[2019-02-07 20:07] aquibbaig commented on #278
@agathver Any more information on how we can implement this?

[2019-02-08 05:20] agathver commented on #276
We can always retrigger a crawling for all projects from the backend side.
A command to calculate metrics for all projects should do it.

On Thu, Feb 7, 2019 at 9:04 PM Sandip Bhuyan <notifications@github.com>
wrote:

[2019-02-08 16:20] aquibbaig commented on #276
Ok. @agathver

[2019-02-20 07:01] #254 closed

[2019-02-20 07:20] agathver commented on #278
Check the time the project has been in "processing" state from createdAt. If its > a threshold, allow access

[2019-02-20 10:47] imphil commented on #278
Another option would be to always show the project's information as we have it already, and fill in the remaining information as it arrives. (I.e. get rid of the waiting page completely.)

[2019-02-21 07:30] Nancy-Chauhan opened #303 "Fix the size of Librecores CI.Project overview"
User Interface of [Librecores CI ](https://www.librecores.org/static/librecores-ci ) can be Improved by adjusting the size of Presentation so that it is easily readable .

![screenshot from 2019-02-21 12-58-11](https://user-images.githubusercontent.com/37153406/53151139-624e0880-35d8-11e9-94dc-cf85ee9b5d00.png)

[2019-02-21 08:12] aquibbaig commented on #303
Hello. I can work on this!

[2019-03-04 04:14] Nancy-Chauhan commented on #303
Fixed by #304

[2019-03-04 04:14] #303 closed

[2019-03-11 17:12] adrianf0 opened #305 "Re-request GitHub credentials if we get a "bad credentials" exception"
I get a _500 Internal Server Error_ when I try to add a new project by clicking my username in the right top corner.

[2019-03-11 17:43] imphil commented on #305
Sentry issue: [LIBRECORES-WEB-X](https://sentry.io/organizations/librecores/issues/928613875/?project=221297&referrer=github_plugin)

[2019-03-11 17:45] imphil commented on #305
Looks like the GitHub API credentials you've cached are not up-to-date. How did you log into LibreCores? Through GitHub, or did you enter a username and password?

Backtrace:

[code]

[2019-03-11 17:52] imphil opened #306 "Fix deprecation in librecores.util.githubapiservice"
[code]

[2019-03-11 18:04] adrianf0 commented on #305
I entered a username and password.

[2019-03-11 18:08] imphil commented on #305
Can you try logging in with GitHub and see if that fixes the issue for you?

As a longer-term fix, we probably need to re-request GitHub credentials if we get that exception.

[2019-03-11 18:11] adrianf0 commented on #305
I confirm that by logging through GitHub I can enter 'New project' page (no _500 Internal Server Error message_).

[2019-03-11 18:13] imphil commented on #305
@adrianf0 thanks for confirming that. I've changed the bug title to better reflect what needs to be done to prevent such a scenario in the future.

[2019-03-11 18:31] adrianf0 opened #307 "Problem with avatar"
In the project which I have added recently ([link](https://www.librecores.org/adrianf0/hdlregs)), my avatar (I presume it should be downloaded from GitHub) in the right Data Sheet tab under contributors is not displayed.
It could be related to the fact, that commits have been done with nondefault e-mail address.

[2019-03-11 18:37] agathver commented on #306
I think this is not the only service we need to migrate into Symfony Auto-wiring DI

[2019-03-11 18:49] agathver commented on #307
Yes. We check using for the email in _Gravataar_ and not in Github, yet.

To map multiple emails, you can use a mailmap: https://developer.atlassian.com/blog/2017/06/aliasing-authors-in-git/

[2019-03-11 19:09] adrianf0 commented on #307
I see. Simply GitHub avatars are not supported yet. Thanks for the update.

[2019-03-11 21:43] imphil commented on #307
@adrianf0 Is Gravatar working for you and we can close this issue?

[2019-03-12 10:24] adrianf0 commented on #307
At the moment I not thinking about creating an account on Gravatar, so I think the issue can be closed.

[2019-03-12 10:44] #307 closed

[2019-03-19 10:33] azine commented on #211
For anyone still interested in the "update email confirmation" feature: as FOSUserBundle does not move, I we implemented this feature as separate bundle.
See https://github.com/azine/AzineEmailUpdateConfirmationBundle

[2019-03-22 15:50] aquibbaig commented on #143
We can work out a methodology but first I want to know what events do we want to notify the users for?

[2019-03-22 16:34] aquibbaig commented on #212
@sandipbhuyan Is the issue resolved?

[2019-04-01 09:27] agathver opened #308 "Allow connecting an existing account with hosting and SSO providers"
As a user, I would want to associate my account with Google or Github to allow SSO.

Github should be a priority as we are deeply integrated with it. We need to allow such associations for accounts which have signed up with email or Google, to allow listing of their GitHub repositories.

[2019-04-01 09:28] imphil commented on #308
All of this functionality already exists?

[2019-04-01 09:28] agathver opened #309 "Allow user to manually trigger a refresh of project metrics"
Sometimes projects are stuck, or non-code changes occur. We need to allow user to request a refresh of project metrics.

Points to take care:
1. Rate-limiting

[2019-04-01 09:35] agathver commented on #308
It works on the production instance

[2019-04-01 09:35] #308 closed

[2019-04-01 12:29] imphil commented on #41
That's done now.

[2019-04-01 12:29] #41 closed

[2019-04-01 12:54] agathver opened #310 "List project as soon as it is added"
From #278

We shall let the user know if fetching additional metrics failed due to some reason.

[2019-04-01 12:57] agathver commented on #278
As per our discussion, we will split this issue into two. As mentioned by @imphil we will get rid of the "in processing" page altogether (#310) and implement a circuit-breaking mechanism to prevent forever retries.

[2019-04-08 18:13] agathver opened #314 "Cannot create an user"
Creating a user always fails with the message: "The user/organization name is already taken."

Possible cause: Error in `UserOrgNameValidator`

[2019-04-08 18:56] agathver commented on #258
Let us skip 7.2 and get into 7.3 instead.

I have been testing with php 7.3 and it works OK so far.

[2019-04-11 16:08] agathver commented on #279
What should be the correct behaviour? Should we allow the users to create duplicate project listings or disallow duplicated repository URLs?

[2019-04-11 17:20] agathver opened #317 "RabbitMQ daemon crashes if a queued project is deleted before it has been processed"
Steps to reproduce:

1. Add a project
2. Remove the project (from the database).
3. Daemon crashes with a null pointer exception

Though we do not have a delete project UI as of now, we can simulate it by truncating the tables.

[2019-04-11 17:25] agathver opened #318 "Opening project settings fails"
Fails with a null pointer exception at [ProjectController.php#L332](https://github.com/librecores/librecores-web/blob/master/site/src/Librecores/ProjectRepoBundle/Controller/ProjectController.php#L332)

Possible reasons:
* Compare and assign logic is wrong

[2019-04-13 06:21] agathver commented on #279
I added two projects with the same repository URL, but different name. The crawlers successfully processed the projects and data was visible in both the projects

[2019-04-13 09:55] aquibbaig commented on #260
@imphil can I work on this issue?

[2019-04-14 15:18] agathver opened #322 "Merge bundles together into a single AppBundle"
From Symfony documentation

We have very little code to be put in their own bundles, and bundle splitting just forces us to look up different files for configuration. Merging them into a single bundle will bring all configuration to a single place.

Effect on code quality will not be much IMO, the existing controller and services continue to exist as they were and no additional coupling would be i

[2019-04-15 06:54] aquibbaig commented on #260
We should switch to webpack, instead of moving further with Assetic. Encore provides this out of the box.

[2019-04-15 06:56] aquibbaig commented on #292
If we implement this, it will solve #260 as well.

[2019-04-15 14:06] imphil commented on #322
Let's do it!

[2019-04-17 09:21] #306 closed

[2019-04-17 09:26] #317 closed

[2019-04-17 09:27] #318 closed

[2019-04-17 14:01] imphil commented on #279
Disallowing two projects with the same repository URL is a sane option.

[2019-04-17 14:03] imphil commented on #260
Is webpack the current "de facto" standard, or has it been superseded by another thing already? Maybe @agathver knows more?

[2019-04-17 17:49] agathver opened #324 "Code style: comments"
We follow the Symfony coding standards closely and one of the constraints we inherit are comments for classes and function. Currently, it's configured as a warning, but it is still noisy.

https://blog.codinghorror.com/coding-without-comments/ explains why we do not need comments. In most of the cases, the code itself is sufficient. And since we are not a library (unlike Symfony) we are not requir

[2019-04-18 05:34] aquibbaig commented on #260
@imphil I had a talk with @agathver. He only suggested that we should migrate to webpack encore

[2019-04-20 07:19] olofk commented on #279
I don't agree. Some people store collections of IP in a single repo. But it can make sense to list these as separate projects on LC. Of course, if this complicates the implementation I'm fine to disallow this for now and revisit later

[2019-04-22 18:04] agathver opened #327 "Test Automation"
Meta issue to track testing progress

- [ ] Unit tests
	- [ ] Tests for utilities
	- [ ] Tests for services
	- [ ] Tests for symfony extensions (forms, validators etc.)
 	- [ ] Tests for controllrs
- [ ] Integration tests
	- [ ] Controller test with simulated HTTP requests
- [ ] Functional tests
	- [ ] Basic tests
		- [ ] Home page renders
		- [ ] Static pages render
		- [ ] Browse projects when l

[2019-04-23 18:32] aquibbaig commented on #260
@imphil @agathver Will I consider a green light for `webpack-encore`

[2019-04-24 01:58] agathver commented on #260
Sure go ahead!

[2019-04-24 10:41] aquibbaig commented on #260
I think we need yarn in our vm to install webpack in the first place. Can someone help me out with ansible?
`https://symfony.com/doc/current/frontend/encore/installation.html`

[2019-04-24 12:00] #314 closed

[2019-04-24 12:09] imphil commented on #324
I really like class comments in many cases, as it helps to understand what's going on in the code base when people are new to it and possibly don't have in-depth Symfony knowledge.

But independent of that, I'm ok with turning off the warning, it doesn't help much.

[2019-04-24 12:20] imphil commented on #260
@aquibbaig please note that this bug is about cache busting. Please keep the discussion about assetic and its alternatives in #292 .

[2019-04-25 10:27] imphil opened #330 "Refresh new project when crawling is done"
STR:
- Create new project
- After project is created we display "We are currently processing this project. Project information will be available in a while."

Expected result:
- Page is refreshed when the project has been processed.
- User is informed how he/she can refresh manually.
- User is informed how long the process typically takes (minutes)

Current result:
- User needs to refresh manually

[2019-04-25 10:30] imphil opened #331 "Repo crawler fails with BadMethodCallException"
[code]

[2019-04-25 10:44] imphil commented on #331
This code has not really changed recently:

[code]

The exception message indicates we're hitting `EntityRepository::__call()` (see https://github.com/doctrine/orm/blob/master/lib/Doctrine/ORM/EntityRepository.php#L175). We actually shouldn't reach that code if we are inside `CommitRepository`, so maybe the service isn't properly registered any more?

@agathver could you have a look at that?

[2019-04-25 13:51] agathver commented on #331
We need to migrate all usages into `getRepository` to use auto-wiring. It appears that the repository classes inheriting from `ServiceEntityRepository` are not properly registered with Doctrine.

[2019-04-25 16:08] imphil opened #337 "Redirect users to something useful after they verified their account"
Currently we redirect users to the following page after they have confirmed their email address:

![image](https://user-images.githubusercontent.com/1467123/56750763-633c1b80-677c-11e9-895a-f8a2a5d9b929.png)

We should redirect to a page which is more engaging and allows them to add new content (which is most likely why they registered in the first place). This should most likely be the same page

[2019-04-25 17:10] imphil opened #338 "Change FOSSi Foundation post address in email footer"
It currently reads

[code]

It should read

[code]

[2019-04-27 03:34] agathver opened #339 "Highlight the add project button"
Right now it is hidden under the user menu, which is a bit counterproductive.

Suggestion: Move the add project button into a separate dropdown of its own similar to GitHub. This would encourage a user to submit their projects to LibreCores.

[2019-04-28 13:00] agathver opened #342 "UserOrgValidatorTest is flaky"
Test breaks randomly due to two validation errors being raised which is unexpected at that context.

[2019-04-28 13:32] #342 closed

[2019-04-28 13:36] #331 closed

[2019-04-29 09:57] imphil commented on #339
Sounds good

[2019-04-30 08:38] #330 closed

[2019-05-01 10:46] imphil opened #345 "Project setup experience with progress bar"
We want to encourage users to add metadata to their project by "onboarding" them better.

Completely unpolished UI mockup:

![image](https://user-images.githubusercontent.com/1467123/57014038-1d60d680-6c06-11e9-9bf8-50e06fc3368d.png)

Things we could add to the onboarding:
- If it is a GitHub repository, make sure the account is connected.
- add project name and tagline
- add classifiers
- fill in

[2019-05-01 11:16] agathver opened #346 "Gather github metrics independent of crawling"
For projects hosted in GitHub we support additional metadata like stars, issues and pull requests.

In the current setup, these are refreshed only when a repo crawl is performed which is during a new commit to the project. Thus, most of our GitHub data is stale.

By decopuling the crawlers we can update github data more frequently.

[2019-05-01 11:22] agathver commented on #305
Summerizing discussion:

GitHub access tokens do not expire. when there is a 403 from GitHub API, the user has revoked the connection from LibreCores due to some reason.

Currently we refresh the access token on each GitHub login.

On a crawl failure we will mark the token as expired and display a notice to the user to reconnect their github account. We may even send an email mentioning this.

[2019-05-01 12:14] wallento commented on #345
I like the idea, but have a suggestion to add after my own experience with those: please add a "hide" link..

[2019-05-04 17:14] imphil opened #347 "New project page: Do not show user/org name dropdown if only one can be selected"
Currently we always show the user/org name dropdown, even if only one option is available.

![image](https://user-images.githubusercontent.com/1467123/57182566-629c3700-6e98-11e9-9396-1a4cf6b591ff.png)

This can be simplified to show the dropdown only if an actual selection is possible.

[2019-05-04 17:27] #212 closed

[2019-05-04 23:11] #282 closed

[2019-05-08 09:52] agathver opened #348 "Automate actions of a logged in user"
Make selenium tests to simulate actions by a logged-in user

[2019-05-08 09:55] agathver opened #349 "Make selenium values / secrets configurable"
Some of the values we use inside our selenium tests are environment specific and contain secrets that cannot be checked into git. Allow reading such values from environment variables or some other config source

[2019-05-08 14:47] agathver commented on #258
Closed via #316

[2019-05-08 14:47] #258 closed

[2019-05-10 09:49] #188 closed

[2019-05-10 09:52] #339 closed

[2019-05-10 10:30] imphil commented on #349
Reading secrets from the environment is the way to go in 2019

[2019-05-10 14:39] agathver opened #354 "Notify users when we loose GitHub authorization"
Right now we either fail (#305) or simply ignore if we have lost GitHub authorization. Notify a user either by an email and/or through a banner that they need to reauthorize us.

Also, make this notice dismissible.

Depends on #143

[2019-05-10 15:30] agathver opened #355 "Cannot login using GitHub if account is disconnected from user settings"
Not sure whether it is a bug or a feature.

Steps to reproduce (reproducible on staging):

1. Login (using any means)
2. Disconnect GitHub in settings
3. Log out
4. Try signing in with GitHub.

Expectation: I sign in again and my account gets reconnected to GitHub.

Current outcome: Attempts to create a new user, fails unique constraint checks on username and email.

[2019-05-10 16:24] agathver commented on #277
@imphil Could you describe how to reproduce this issue and what should be the correct behavior?

[2019-05-10 17:05] agathver commented on #195
Fixed in #312, #340

[2019-05-10 17:05] #195 closed

[2019-05-10 17:09] agathver commented on #192
Fixed in #193

[2019-05-10 17:09] #192 closed

[2019-05-10 18:44] agathver opened #358 "Associate contributions with LibreCores accounts"
Associate contributors using git emails with LibreCores account in the project view

Related #158

[2019-05-15 10:02] #18 closed

[2019-05-15 10:10] imphil commented on #355
That's the expected behavior. We can improve the unique constraints check a bit, however. If we have the email address on file already we should suggest "Your email address email@example.com is already associated with a LibreCores account. If you want to log in through GitHub, please connect your account to GitHub by first logging in with your email address and your password, and then connect your

[2019-05-15 14:54] #305 closed

[2019-05-15 16:33] agathver commented on #355
Changed title to reflect the new action item

[2019-05-18 18:23] aquibbaig opened #359 "Ansible task fails at "Install RabbitMQ""
This is what I get as an error message. I tried to check that up. This is most likely a problem with the Erlang dependency.

[2019-05-18 19:53] #359 closed

[2019-05-19 14:58] aquibbaig commented on #292
#353 currently is in progress to migrate from Assetic to webpack.
There are a few things we need to tackle for configuring page-specific CSS files. Each file that webpack builds is an independent file of its own with all its dependencies intact. We have some twig files in which we need to pass twig filters to the jquery functions.

**For example:**

  $('#{{ form.licenseText.vars.id }}').trumbowyg

[2019-05-19 20:07] #322 closed

[2019-05-20 07:48] agathver commented on #292
@imphil Do we even use trumbowyg anywhere?

[2019-05-20 09:10] imphil commented on #292
did you mean JS files?

[2019-05-20 09:11] imphil commented on #292
yes, in the project settings page for the LICENSE and README text boxes

[2019-05-20 09:11] aquibbaig commented on #292
@agathver in the LICENSE and DESCRIPTION fields

[2019-05-20 12:06] imphil opened #360 "Add Aquib's blog to Planet"
@aquibbaig can you please
- Create a tag/category for blog post which should appear on Planet Librecores? Use this tag/category for posts which are related to LibreCores or other things you want to share with the wider community.
- Give me the link to an Atom or RSS feed for this category/tag.

[2019-05-20 13:40] agathver commented on #292
@aquibbaig Here's a suggested approach:
- Assign a class (let's say: `.trumbowyg-textbox`) to each of the text areas that use trumbowyg.
- Use a jQuery selector to find any `.trumbowyg-textbox` in a page.
- Use [dynamic imports](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import#Dynamic_imports) to load trumbowyg and initialize them.

[code]

[2019-05-21 16:13] aquibbaig commented on #359
@imphil Again encountered an issue regarding rabbitmq, which is:

[2019-05-21 16:19] imphil commented on #359
Please open a new issue when you encounter different issues.

It looks like this is a temporary issue, please try again in a couple of minutes/hours.

[2019-05-21 23:33] aquibbaig commented on #359
failed: [librecores] (item=deb https://dl.bintray.com/rabbitmq/debian xenial main) => {"changed": false, "item": "deb https://dl.bintray.com/rabbitmq/debian xenial main", "module_stderr": "Shared connection to 127.0.0.1 closed.\r\n", "module_stdout": "Traceback (most recent call last):\r\n  File \"/home/vagrant/.ansible/tmp/ansible-tmp-1558481353.47-278740387247745/AnsiballZ_apt_repository.py\", l

[2019-05-22 00:02] aquibbaig commented on #360
Haven't implemented an RSS feed yet. Will do soon

[2019-05-22 00:23] aquibbaig commented on #359
Updates:
`Reverting it to the previous file version works`

[2019-05-22 00:56] aquibbaig opened #361 ""Insert Database fixtures" fails"
become: true
  become_user: "{{ web_user }}"
  command: php bin/console doctrine:fixtures:load -n
  environment: "{{ symfony_config }}"
  args:
    chdir: /var/www/lc/site

**Doesn't work**

Expected directory of Datafixtures: `/var/www/lc/site/app/DataFixtures/ORM/`
Provided: `/var/www/lc/site/src/DataFixtures/ORM`

command: `php bin/console datafixtures:load` throws error in ansible
Does this sh

[2019-05-22 01:36] aquibbaig commented on #143
Here are a few things that can be proposed.
Steps involved in implementing a **notification system** for Librecores(with prior reference to my proposal):
- [ ] Discuss designs for the notifications entity(e.g. fields like date, eventName, etc.)
- [ ] Design of changes in database structure for storing user notifications
- [ ] Generating notifications from events and storing it in the database for

[2019-05-22 10:47] aquibbaig commented on #360
- Added an `rss-feed` icon to the footer in my blog
- If doesn't open up for any reason can go to the route `/rss.xml`
- Each blog post is inside an <item> tag

[2019-05-22 14:02] #277 closed

[2019-05-22 14:13] agathver commented on #360
@aquibbaig Share the feed link here

[2019-05-22 14:33] aquibbaig commented on #360
[here](http://www.aquibbaig.in/rss.xml)

[2019-05-23 03:21] aquibbaig commented on #292
@agathver Did a few `console.log()` to figure out id's and replaced the earlier code. Any workaround for accessing the `classificationHierarchy` variable passed from the controller in an external js file?

[2019-05-24 07:01] aquibbaig commented on #143
@imphil is this the right way?

[2019-05-24 10:03] imphil commented on #143
Please
- Start a new issue "Design of the notification system", add it to your Project view on Github (https://github.com/librecores/librecores-web/projects/5)
- Create a Google Doc linked from this issue.

Describe in this document:
- Where are notifications coming from? (notification sources)
- What data is associated with them?
- What output mechanisms exist? (notification sinks) Examples are e

[2019-05-26 14:24] aquibbaig opened #363 "[GSoC 2019] Design of the Notification System"
In Reference to #143

The notification system will be used to notify users of notable events generated on the Librecores Website. This is the first project goal for GSoC 2019.

### Design
The primary goal of this issue is to inform the Users about events that happen on the website. Also, the community may want to notify their audience with relevant information. This can be accomplished via emails

[2019-05-27 09:17] imphil commented on #361
@agathver do you have a fix for this? It's critical as it blocks all other testing.

[2019-05-27 11:26] agathver commented on #361
Should have fixed in #364, if not let me have a look now

[2019-05-27 12:44] imphil commented on #361
No, it's not. Using the branch from #364 and doing a vagrant destroy; vagrant up shows a fixture problem and aborts.

[2019-05-27 13:46] imphil commented on #363
A couple comments:

- This is *only* about the design. Remove the implementation part.
- Be very specific.
  - "Notifications are coming from events such as signing into Librecores website, repocrawler fails, etc." What events *exactly*? List all events you want to support right now.
  - "Notifications are supposed to have fields that concern the user and event such as a description of the event,

[2019-05-27 14:44] agathver commented on #206
Investigate if it is accepted as a Github project internally.

[2019-05-28 20:51] agathver commented on #206
It was not accepted as GitHub project (I could reproduce the issue). The main reason was a lack of URL and issue tracker

[2019-05-29 10:50] #361 closed

[2019-05-29 12:28] #297 closed

[2019-05-29 12:54] imphil opened #367 "Project/Settings: Fix "choices_as_values" deprecation warning"
When visiting the project settings page we get this deprecation warning.

 User Deprecated: The "choices_as_values" option is deprecated since Symfony 3.1 and will be removed in 4.0. You should not use it anymore.

[2019-05-29 14:42] imphil commented on #279
Wasn't reproducible any more.

[2019-05-29 14:42] #279 closed

[2019-05-30 07:14] aquibbaig commented on #363
@imphil Updated the proposal!

[2019-06-01 17:52] agathver opened #368 "Notify users to add missing project info"
Show a banner to add missing info like license, issue tracker and project home page.

[2019-06-01 18:02] agathver opened #369 "Refactor project controller"
[ProjectController.php as of 82767a](https://github.com/librecores/librecores-web/blob/82767aa8fc72d3bc201defe9bbf075cf4b9327aa/site/src/Controller/ProjectControrller.php) is huge (~800 loc) and is becoming difficult to comprehend. Refactor it to a manageable size.

- Move forms into classes
- Move project creation code into service classes

[2019-06-02 09:03] agathver opened #371 "Add GItHub project fails with 500 if we cannot install install webhooks"
Title says all.

We should handle it gracefully and report an error to the user

[2019-06-02 13:35] aquibbaig opened #373 "[GSoC 2019] Generate notifications from events"
- This is based upon the design as discussed in #363
 - This issue deals with the first implementation goal, which is to generate notifications from events. The basic idea behind this is that for every user action for which a notification can be associated, we must generate a notification entity instance.
 - The events that we want to support and data fields in the notification and their types are

[2019-06-02 13:57] aquibbaig opened #374 "[GSoC 2019] Store notifications in the database"
- As discussed, the database schema needs to be updated for storing notifications of users. This issue will be an immediate follow up of #373. The notifications are supposed to be related to the Users table, so we should keep that in mind.
- Also, DataFixtures are needed to be written for the above case.

### Tasks involved in this issue
- [x] Extend the database schema
- [x] Store Notifications i

[2019-06-02 14:05] aquibbaig opened #375 "[GSoC 2019] Conveying Notifications to the user"
This issue will deal with the final part of the notification system design implementation. After the notifications are generated and stored, the final step is to fetch these notifications for any user and then two things can happen, based on the type of notification which has been stored. So, basically after fetching a notification, extract its type.
- If its type is **email**, send it to the appr

[2019-06-03 06:03] aquibbaig opened #376 "Webpack for production"
#353  is up and running.

I have added a few scripts in `package.json` to ease up the commands for webpack. Also, I have created a sharedEntry for base CSS and JS to reduce file sizes.

The following needs to be done for development, after installing `yarn` and `npm`
- create a JSON file for algolia app credentials using **Ansible**. A sample file is included in the pull request referenced above
-

[2019-06-03 14:21] imphil commented on #374
Try using https://packagist.org/packages/mgilet/notification-bundle

[2019-06-03 19:19] agathver commented on #175
![Screenshot_20190604_003624](https://user-images.githubusercontent.com/16816719/58828089-3d9b0f80-8662-11e9-8e1e-232583d6cfa3.png)

@imphil A UI suggestion I have been experimenting with. Hovering over the factoids will give a tooltip with a description and the actual value.

I plan on adding a view all button, to show all factoids and their values.

Clicking on the factoids, will take you to the

[2019-06-03 22:44] #346 closed

[2019-06-04 10:03] aquibbaig opened #377 "Fix phpmyadmin warnings"
On opening `pma.librecores.devel/`, for every table, it shows a list of warnings. We can ignore it but appears every time when I try to click on a table.
The warning goes as follows:
[code]
I went to fix this using [https://stackoverflow.com/questions/48001569/phpmyadmin-count-parameter-must-be-an-array-or-an-object-that-implements-co](Stack Overflow link here). But this problem would be there eac

[2019-06-04 14:39] agathver commented on #377
Install phpmyadmin from the website instead from Ubuntu repos to fix it.
The one that comes with Ubuntu doesn't work with php 7.3.

Phpmyadmin is a codebase built on php quirks

On Tue, 4 Jun, 2019, 3:33 PM Aquib Baig, <notifications@github.com> wrote:

[2019-06-04 14:53] aquibbaig commented on #377
@agathver Isn't phpmyadmin installed through ansible ?

[2019-06-05 14:46] imphil commented on #175
UI looks good to me!

[2019-06-07 13:00] aquibbaig commented on #375
I had some time to test out `mgilet notification bundle` and here's what I have achieved so far. The target event is notifying users when they create a project.
<img width="1437" alt="Screenshot 2019-06-07 at 6 28 42 PM" src="https://user-images.githubusercontent.com/26324376/59105788-5a7d5e80-8952-11e9-911c-5dd34ecc65ea.png">

[2019-06-07 13:06] aquibbaig commented on #374
The bundle above mentioned by @imphil comes with 3 class entities affecting our database schema

1. NotifiableEntity
2. NotifiableNotifications
3. Notification
- `Notifiable` entity is the entity you want notifications for, for example: User entity in our case
- `NotifiableNotification` entity holds the properties of the notifications i.e. if it has been seen. This entity is associated *ManyToOne*

[2019-06-07 13:08] aquibbaig commented on #373
## Current approach
- After a function inside a controller, action has finished executing we can fetch the `Notification Manager` provided by the bundle we are using and persist the notification inside the database.

[2019-06-07 13:09] aquibbaig commented on #373
***TODO***
we positively need to discuss how to route the Notifications depending upon which type they belong to

[2019-06-07 14:50] aquibbaig opened #379 "[GSoC 2019] Decide a routing mechanism for notifications"
Based on the recent discussion, we need to set up how to parse a notification **type** and then route it to its specific path(If its email type, send a mail or if it's web type, store in the db and fetch to the frontend). @imphil suggested to implement it using a cronjob or rabbitmq.

- I guess we won't have that much traffic  and sending a notification won't take that many of processing overhead,

[2019-06-09 00:06] imphil opened #380 "Switch to Bootstrap 4"
We're currently using Bootstrap 3. Switch to Bootstrap 4.

This requires:
- Updating `package.json` to use bootstrap instead of bootstrap-sass, and a version > 4
- Test all sites and adjust JS/CSS as needed

[2019-06-09 04:22] aquibbaig commented on #375
Tasks to be achieved
- [ ] Associate each notification with a remove and mark-as-seen button that perform the required actions
- [ ] Redirect to user dashboard to modify Notification Settings
- [ ] Improve the Notification Panel UI

[2019-06-09 16:52] #292 closed

[2019-06-09 18:41] #371 closed

[2019-06-09 19:47] imphil commented on #379
Questions:
- Where/how do you store the routing configuration? This can be global (all messages of type x to go email), and user-specific (user disabled getting emails about type y).
- You cannot synchronously send emails, you need to queue the email send requests somehow. You didn't really answer that question in issue #363 and that's "haunting" you now.

Look at the picture below for an architec

[2019-06-14 03:53] aquibbaig commented on #375
Well, I thought of a design and this is what we can do.
<img width="695" alt="Screenshot 2019-06-14 at 9 21 32 AM" src="https://user-images.githubusercontent.com/26324376/59482321-00b2f200-8e86-11e9-8cab-973aa658c48f.png">